.box-main-title {width:1200px;height:40px;margin: 50px auto 20px auto;}
.box-main-title-word {width:300px;height:22px;border-bottom:1px solid #d2d2d2;margin:0 auto;}
.box-main-title-word .words {display:block;width:100px;font-size:16px;font-weight:bold;background:#FFFFFF;padding-top:8px;margin:0 auto;text-align:center;}
.banner .item  a .set-img-height {width:100%;height:300px;}
.banner-wrap {position:relative;}
.banner-wrap .carousel {height:448px;}
.banner-wrap .carousel-inner > .item > a {display:inline-block;}
.banner-wrap .carousel-inner > .item > a > img {max-width:100%;max-height:100%;height:auto;display:inline-block;}
.brand-container .brand-item {padding: 5px;background:#fff;border:1px solid #eee;margin-bottom: 10px;margin-right: 20px;width: calc(50% - 10px);float: left;cursor: pointer;}
.brand-container .brand-item:nth-child(even) {margin-right: 0;}
.brand-container .brand-ad {width: 100%;padding: 18% 0;position: relative;margin-bottom: 5px;overflow:hidden;}
.brand-container .brand-ad .pic {position: absolute;height: 100%;top: 0;left: 0;width: 100%;}
.brand-container .brand-ad .recommend-icon {background: url(../img/goods/brand_recommend.png);background-size:contain; width: 40px;height: 40px;position: absolute; z-index: 5;top: 0;left: 0;}
.brand-container .brand-info {height: 60px;padding-left: 70px;position: relative;}
.brand-container .brand-info .brand-pic {width: 60px;height: 60px;position: absolute;left: 0;top: 0;line-height: 60px;}
.brand-container .brand-info .brand-pic img {width: 60px;height: auto;max-height: 100%;vertical-align: middle;}
.brand-container .brand-info .brand-name {font-size: 14px;margin-bottom: 5px;line-height: 20px;white-space: nowrap;overflow: hidden;}
.brand-container .brand-info .brand-desc {font-size: 12px;color: #999;overflow: hidden;text-overflow: ellipsis;word-break: break-all;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
