@charset "utf-8";
.member-main{background: #fff; overflow: hidden; margin-top: 20px; padding: 20px;}
.point-info{padding:10px 0 10px 10px;}
.point-info .title{font-weight: 700; font-size: 16px;}
.point-info .point{font-weight: 700; font-size: 24px; line-height: 1.2;}
.point-info .point em{font-style: normal; font-size: 50px;}