.member-main{background: #fff; overflow: hidden; margin-top: 20px; padding: 20px;}
.table th{font-size:12px;font-weight: normal;}
.table td{line-height:20px;font-size:12px;}
.virtual-code{line-height:33px;}
.download-ico{height:20px;display:block;margin:10px auto;}
.download-tip{cursor:pointer;}