.member-main{overflow: hidden; margin-top: 20px; margin-left:0;}
.goods-category{padding-top: 14px; margin-bottom: 36px; overflow: hidden;}
.goods-category ul li{float: left; cursor: pointer; margin-right: 30px; padding: 0 10px; margin-bottom: 10px; text-align: center; border-radius: 12px; line-height: 24px; font-size: 12px;}
.goods-category ul li.active{color: #fff;}
.footprint-content{position: relative; overflow: hidden;}
.footprint-content .line{position: absolute;top: 0;left: 23px;width: 2px;height: 100%;}
.footprint-content .line-height{position: absolute;top: 0;left: 23px;width: 2px;z-index: 2;}
.footprint-content .item{position: relative; margin-left: 25px;}
.footprint-content .item .icon-circle-blank{position: absolute; z-index: 5; left: -10px; top: -1px; font-size: 21px;border-radius: 50%;background-color: #fff;}
.footprint-content .item .tit{position: relative; height: 58px; line-height: 30px; padding-left: 70px;}
.footprint-content .item .tit time{padding-top: 4px; font-size: 18px; font-weight: 400;}
.footprint-content .item .tit a.del{margin-left: 10px; cursor: pointer;}
.footprint-content .item .cont{position: relative; padding-left: 70px; overflow: hidden;}
.footprint-content .item .cont .goods-list li{float: left; position: relative; width: 246px; height: 310px; padding-top: 8px; margin-right: 29px; margin-bottom: 20px; border: 2px solid #fff; background: #fff; text-align: center; vertical-align: top; cursor: pointer; transition: all .5s;}
.footprint-content .item .cont .goods-list li:hover{box-shadow: 0 5px 15px rgba(0,0,0,0.2);}
.footprint-content .item .cont .goods-list li .close{position: absolute;top: 8px;right: 8px;z-index: 5;display: none;}
.footprint-content .item .cont .goods-list li:hover .close{display: block;}
.footprint-content .item .cont .goods-list .goods-img{display: block;margin: 8px 0;width: 100%;height: 220px;position: relative;text-align: center;}
.footprint-content .item .cont .goods-list .goods-img img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 210px;height: 210px;transition: all .3s;}
.footprint-content .item .cont .goods-list .goods-price{height: 30px; line-height: 33px; font-size: 18px;}
.footprint-content .item .cont .goods-list .goods-name{height: 30px; line-height: 33px; font-size: 18px;width:210px;margin:auto;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.footprint-content .empty{padding: 60px 0;text-align: center;}