.member-main{overflow: hidden; margin-top: 20px; width: 1200px; margin-left:0;}
.order-state{border-top: 3px solid;overflow:hidden;margin-bottom:20px;background: #fff;}
.state-left-col{float:left;width:325px;padding:20px 0 38px;position:relative;border-right:1px solid;}
.state-left-col-top{margin-bottom:30px}
.order-pay-btn{background-color:#FFF;width:98px;padding:5px 0;border-radius:2px}
.state-text{font-size: 24px;font-weight: 700;}
.state-btn{margin:20px 0 30px;min-height:107px}
.state-left-col-bottom{position:absolute;width:243px;left:0;right:0;bottom:20px;text-align:center}
.state-right-col{float:right;width:840px;padding:20px 0 38px 0}
.order-state-step{width:100%;margin:38px 0 38px 32px}
.state-right-col-top{height:70px;overflow:hidden;font-size:80%;padding-left:20px}
.step{position:relative;float:left;height:9px;width:14%}
.step-spot{position:relative;top:-17px;float:left;height:43px;width:7%}
.step-spot i{position:absolute;display:block;top:0;width:100%;height:43px;overflow:hidden;text-align:center;line-height:37px;}
.step-spot ul{z-index:1;width:200%;margin-left:-50%;position:absolute;margin-top:-38px;text-align:center;font-size:12px;}
.step-spot ul li:nth-child(1){height:36px;margin-bottom:53px;}
.step-spot ul li:nth-child(2){line-height:20px;}
.step ul{position:absolute;width:100%;margin-top:-38px;text-align:center}
.step-line{width:100%;height:5px}
.step-line-dotted{border-bottom:3px dotted;width:44%}
.step-line-dotted-left{float:left}
.step-line-center{float:left;border-bottom:6px solid;border-radius:50px;width:6px;margin-top:-1px;margin-left:4px}
.step-line-dotted-right{float:right}
.order-info{border:1px solid;margin-bottom:20px;background: #fff;}
.order-info-block{overflow:hidden;padding:10px 0}
.order-info-block>div{width:292px;float:left;padding:10px 30px 10px 30px;height:288px}
.order-info-block>div:nth-child(-n+3){border-right:1px solid;}
.order-info-block>div .form-group{margin-bottom:0;margin-left:0}
.order-info-block>div .form-group label{font-weight:normal;font-size:12px;text-align:left;width:35%;float:left;padding-top:4px;padding-bottom:4px}
.order-info-block>div .form-group>div{float:left;width:65%}
.order-info-block>div .form-group .form-control-static{font-size:12px;min-height:auto;padding-top:4px;padding-bottom:4px}
.order-product{border:1px solid;margin-bottom:20px;background: #fff;}
.order-product .gift-mark{height: 18px; line-height: 18px; padding: 0 3px; margin-right: 5px; overflow: hidden; text-align: center; font-style: normal; font-size: 12px;cursor: default; border-radius: 2px; color: #fff; display: inline-block; position: relative; top: 5px;}
.order-item{overflow:hidden}
.order-item-img{float:left;width:60px;height:60px;border:1px solid;line-height:60px;text-align:center}
.order-item-img img{max-height:100%;max-width:100%;display:inline-block}
.order-item-info{width:480px;float:left;margin-left:20px}
.order-product .table > tbody + tbody{border-top:none}
.order-product .table th{font-weight:normal;font-size:12px;border-bottom:none}
.order-product .table td{font-size:12px;padding:15px 8px}
.order-product-total{display:block;padding:20px;overflow:hidden;}
.order-product-total ul{float:right;}
.order-product-total ul li{display:block;line-height:28px;overflow:hidden}
.order-product-total-label{float:left;width:500px;text-align:right}
.order-product-total-text{float:left;width:130px;text-align:right;}
.order-product-total .count{font-size:18px;font-weight:700}
.order-pay-btn:hover{background-color:#fff;}
.virtual-code{cursor:pointer;}
.virtual-product .table td{padding: 13px 8px 13px;}
.tooltip-danger.tooltip.right .tooltip-arrow {display: none;}