.floor-four{overflow: hidden; position: relative; width: 1100px; background-color: #fff; padding: 20px 50px; margin-top: 50px; box-sizing: content-box;}
.floor-four .floor-header{text-align: center; margin-bottom: 30px;}
.floor-four .floor-header-title{font-size: 24px;}
.floor-four .floor-header-subheading{font-weight: normal; font-size: 14px;}
.floor-four .temp-item-list{overflow: hidden;}
.floor-four .temp-item-list > li{float: left; width: 245px; height: 370px; margin: 0 15px 30px; text-align: center;}
.floor-four .temp-list-item .item-pic{overflow: hidden; display: inline-block; width: 245px; height: 245px; margin-bottom: 5px;}
.floor-four .temp-list-item .item-pic > img{width: 100%; height: 100%;}
.floor-four .temp-list-item .item-info{width: 100%;}
.floor-four .item-info .item-tags > span{display: inline-block; padding: 3px; font-size: 14px; color: #fff;}
.floor-four .back-item-tags > span{width: 80px; height: 25px;}
.floor-four .item-info .item-name > a{display: inline-block; width: 100%; margin-top: 5px; overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; text-overflow: ellipsis;}
.floor-four .item-info .back-item-name > a{height: 20px;}
.floor-four .item-info .item-price{padding: 3px;}
.floor-four .item-info .back-item-price > p{height: 20px;}
.floor-four .item-info .item-price > p{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.floor-four .item-info .item-price > hr{width: 150px; margin: 5px auto 0;}
.floor-four .item-info .item-desc{margin-top: 2px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.floor-four .back-item-desc{height: 20px;}