.floor-four{
    width: 1200px;
}
.floor-four-title {
    display: flex;
    height: 40px;
    margin-bottom: 20px;
    line-height: 40px;
    justify-content: space-between;
}

.floor-four-tile-left {
    position: relative;
    font-size: 0;
}

.floor-four-tile-left .main-title {
    font-size: 20px;
    font-weight: bolder;
}

.floor-four-tile-left i {
    display: inline-block;
    margin-left: 8px;
    font-size: 14px;
    font-style: normal;
}

.floor-four-tile-left .subtitle {
    margin-left: 3px;
    font-size: 14px;
}

.floor-four-title-link {
    position: relative;
    font-size: 0;
}

.floor-four-title .edit-block{
    right: -88px !important;
    line-height: 22px;
}

.floor-four-title-link .sign, .floor-four-title-link a {
    font-size: 14px;
}

.floor-four-title-link .sign {
    margin-left: 10px;
    margin-right: 10px;
}

.floor-four-title-link .sign:last-of-type{
    display: none ;
}

.floor-four-title-link a:last-of-type {
    margin-left: 15px;
}

.floor-four-content .floor-four-item {
    float: left;
    width: 270px;
    margin-right: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.floor-four-content .floor-four-item:nth-child(4n+4) {
    margin-right: 0;
}

.floor-four-content:after{
    content: '';
    display: block;
    clear: both;
}

.floor-four-item .floor-four-pic{
    width: 270px;
    height: 270px;
    margin-bottom: 10px;
    line-height: 290px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.1);
    box-shadow: 0 0 3px rgba(0,0,0,.1);
}

.floor-four-item .floor-four-pic img{
    max-width: 100%;
    max-height: 100%;
}

.floor-four-item .floor-four-describe{
    overflow: hidden;
    width: 80%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    font-size: 14px;
    line-height: 30px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.floor-four-item .floor-four-price{
    height: 20px ;
    margin-bottom: 20px;
    line-height: 20px;
    color: #bb3a3f;
}


.no-data-item .floor-four-pic{
    background-color: #fff;
}