{extend name="$base" /}
{block name="main"}
<div class="set-style">
	<div class="set-item">
		<dl>
			<dt>评论送积分：</dt>
			<dd>
				<p><input id="comment_point" type="number" value="{$reward_rule_info.comment_point}" min="0" onkeyup="value=value.replace(/[^\d+]/g,'')" class="input-common harf" ><em class="unit">分</em></p>
			</dd>
		</dl>
		<dl>
			<dt>评论送优惠券：</dt>
			<dd>
				<select class="row-no-radius select-common" id="comment_coupon">
					<option value="">请选择优惠券种类</option>
					{foreach name="$coupon_list" item="v"}
						{if condition="$v['coupon_type_id'] == $reward_rule_info['comment_coupon']"}
						<option value="{$v.coupon_type_id}" selected="selected">{$v.coupon_name}</option>
						{else/}
						<option value="{$v.coupon_type_id}">{$v.coupon_name}</option>
						{/if}
					{/foreach}
				</select>
			</dd>
		</dl>
		<dl>
			<dt></dt>
			<dd>
				<p>
					<input id="comment_coupon_open" type="checkbox" onchange="setMemberActionConfig();" class="checkbox" {if condition="$member_action_config['comment_coupon'] eq 1"}checked="checked"{/if}>
				</p>
				<p class="hint">是否启用评论送优惠券</p>
			</dd>
		</dl>
	</div>
	<dl>
		<dt></dt>
		<dd>
			<button class="btn-common btn-big" onclick="save();" style="margin:20px 0 20px 205px;">保存</button>
		</dd>
	</dl>
</div>
<script>
function setMemberActionConfig(){
	if($("#comment_coupon_open").prop("checked")){
		var comment_coupon_open = 1;
	}else{
		var comment_coupon_open = 0;
	}
	$.ajax({
		type : 'post',
		url : "{:__URL('__URL__/NsMemberEvaluate/ADMIN_MODULE/MemberEvaluate/setMemberActionConfig')}",
		data : { 'comment_coupon':comment_coupon_open },
		success : function(data){
			//alert(JSON.stringify(data));
		}
	})
}
function save(){
	var comment_point = $("#comment_point").val();
	var comment_coupon = $("#comment_coupon").val();
	if($("#comment_coupon_open").prop("checked")){
		if(comment_coupon == ""){
			showMessage("error","请选择优惠券种类");
			return;
		}
	}
	$.ajax({
		type : 'post',
		url : "{:__URL('__URL__/NsMemberEvaluate/ADMIN_MODULE/MemberEvaluate/index')}",
		data : { "comment_point" : comment_point, 'comment_coupon':comment_coupon },
		success : function(data){
			if(data['code'] >=0){
				showMessage("success", "设置成功！", "{:__URL('__URL__/NsMemberEvaluate/ADMIN_MODULE/MemberEvaluate/index')}");
			}else{
				showMessage("error", "设置失败");
			}
		}
	})
}
</script>
{/block}