.team-title{padding: 10px;}
.team-item{padding: 10px;height: 70px;border-bottom: 1px solid;position: relative; box-sizing: unset;background: #fff;}
.team-item img{vertical-align: middle;width: 50px;height: 50px;border-radius: 50%;margin-right: 10px;margin-top: 10px;}
.team-info{position: absolute;top: 20%;display: inline-block;}
.team-info strong{font-weight: normal;}
.team-info timeï¼Œ.team-info .role-user{font-size: 12px;}
.empty{text-align: center;padding:50px;}