@CHARSET "UTF-8";
.distribution-index{padding: 0; margin-bottom: 35px;width: 100%; height: 145px; position: relative;}
.distribution-index .member-head{padding-top: 20px;overflow: hidden; width: 94%; margin: 0 auto;}
.distribution-index .member-head .face-img{background: #fff; border: 2px solid #fff;height: 60px; width: 60px;text-align: center; line-height: 60px; overflow: hidden; float: left; box-shadow: 0 0 10px rgba(0, 0, 0, .3);}
.distribution-index .member-head .user-info{float: left; margin-left: 10px;}
.distribution-index .member-head .user-info .promoter-shop-name{height: 30px; color: #fff; line-height: 30px;}
.distribution-index .member-head .user-info .level-name{background: #FFD528; width: 100px; height: 23px; overflow: hidden; border-radius: 50px; line-height: 23px;}
.distribution-index .member-head .user-info .level-name div{float: left; width: 20px; height: 20px; border-radius: 50px; margin-left: 2px;}
.distribution-index .member-head .user-info .level-name div img{width: 100%;}
.distribution-index .member-head .user-info .level-name span{font-size: 12px; margin-left: 5px;}
.distribution-index .member-head .qrcode{float: right; width: 20px; height: 20px; margin-top: 20px; margin-right: 20px;}
.distribution-index .member-head .qrcode img{width: 100%; vertical-align: middle;}
.distribution-index .member-foot{height: 50px;width: 94%; margin: 0 auto 10px; box-sizing: unset;padding: 10px 0;background: #fff;border-radius: 3px; box-shadow: 0 0 10px rgba(0, 0, 0, .3); position: absolute; left: 3%; bottom: -30px;}
.distribution-index .member-foot>p span{display: inline-block; width: 31.5%; text-align: center; height: 25px;}
.distribution-index .member-foot>p{width: 94%; margin: 0 auto;}
.distribution-index .member-foot>p .first-span{font-weight: 400; font-size: 16px; line-height: 30px;}
.distribution-index .member-foot>p .second-span{line-height: 25px;}
.distribution-goods{width: 94%; margin: 0 auto 15px; background: #fff;border-radius: 3px; padding: 5px 0;}
.distribution-goods .distribution-goods-title{width: 90%; margin: 0 auto; height: 40px; overflow: hidden;line-height: 40px;}
.distribution-goods .distribution-goods-title i{font-size: 16px;margin-left: 5px;}
.distribution-goods ul{width: 92%; margin: 0 auto; padding-bottom: 20px; padding-top: 5px; overflow: hidden;}
.distribution-goods ul li{width: 22%; margin-right: 4%; float: left; min-height: 19vw;text-align: center; line-height: 100%;}
.distribution-goods ul li a{display: block;}
.distribution-goods ul li a:nth-child(4){margin-right: 0;}
.distribution-goods ul li img{width: 100%;}
.personal-menu{width: 94%; margin: 0 auto;}
.personal-menu ul{overflow: hidden;}
.personal-menu ul li{float: left; background: #fff; width: 31%; margin-right: 3.5%; text-align: center; padding: 10px 0; border-right: 1px solid #f5f5f5; height: 122px; margin-bottom: 15px;}
.personal-menu ul li:nth-child(3n+0){margin-right: 0;}
.personal-menu ul li img{width: 50px; height: 50px; margin-bottom: 5px;}
.personal-menu ul li h5{padding-top: 5px; font-weight: normal; font-size: 14px;margin-bottom: 5px;}