@CHARSET "UTF-8";
.distribution-shop-edit > div{line-height: 50px; padding: 0 15px; overflow: hidden; background: #fff;}
.distribution-shop-edit > div:first-child{border-bottom: 1px solid;}
.distribution-shop-edit > div:nth-child(2){padding: 0 15px 15px;}
.distribution-shop-edit > div > span{width: 28%; font-size: 14px; display: block; float: left;}
.distribution-shop-edit input{border: none;width: 70%;}
.distribution-shop-edit button{line-height: 40px; height: 40px;border-radius: 5px;border: 0;width: 90%; margin: 50px auto 0;display: block;}
.upload-img{position: relative; border: 1px dashed; height: 100px;}
.upload-img .input-file{width: 100%; height: 100% !important; padding: 0; border: none 0; opacity: 0; filter: alpha(opacity=0); cursor: pointer; margin: 0 2% 0 2%; position: absolute; z-index: 10; top: 0; max-width: 100% !important;}
.upload-text{position: absolute; width: 100%; top: 23%; text-align: center; color: #999; z-index: 0;}
.webuploader-pick{text-align: center; width: 100%; height: 100%;}
.webuploader-element-invisible{width: unset; height: 100px !important; opacity: 0; max-width: unset !important;}
#background_img{max-width: 100%; max-height: 100%;}