@CHARSET "UTF-8";
/*更多筛选*/
.filtrate-more{width: 100%; background: rgba(0, 0, 0, 0.1); position: fixed; top: 43px; left: 0; right: 0; z-index: 999; display: none;}
.filtrate-more a{background-color: #FFF; display: block;font-size: 12px;padding: 10px; border-top: 1px solid;}
/*排序*/
.filtrate-term{width: 100%; overflow: hidden; background: #fff; position: fixed; top: 80px; z-index: 999;transition: top 0.2s; -webkit-transition: top 0.2s;}
.filtrate-term ul{width: 100%; overflow: hidden; height: 40px;}
.filtrate-term li{width: 33%; margin-top: 11px; line-height: 17px; text-align: center; float: left; border-right: 1px solid; box-sizing: border-box;}
.filtrate-term li:last-child{border-right: none;}
.filtrate-term li a{font-size: 13px;}
i.shipping-fee{font-size: 12px;; background: #fff; padding: 1px 3px; margin-left: 5px; border-radius: 2px; border: 1px solid; display: inline-block; line-height: 1; font-weight: normal;}
/*商品list布局 列表模式*/
.open-list .goods-info{width: 100%; overflow: hidden; border-bottom: 1px solid; background: #fff; padding: 8px 3%; box-sizing: border-box;}
.open-list .goods-info:last-child{border-bottom: none;}
.open-list .goods-info .goods-img{display: inline-block; width: 30%; text-align: center; line-height: 100%; float: left;}
.open-list .goods-info .goods-img a{display: inline-block; width: 100%; padding: 50% 0; text-align: center; position: relative;}
.open-list .goods-info .goods-img a .pic{max-height: 100%; max-width: 100%; height: auto; vertical-align: middle; position: absolute; top: 0; left: 0;}
.open-list .goods-info .data-info{display: inline-block; width: 50%; float: left; position: relative; margin-left: 4%;}
.open-list .goods-info .data-info .goods-name{width: 100%; height: 44px; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box; line-height: 150%;}
.open-list .goods-info .data-info .data-goods-sales-info .data-sales{font-size: 12px;}
.open-list .goods-info .data-info .price-share{height: 25px; line-height: 25px;}
.open-list .goods-info .data-info .price-share .price{display: inline-block; float: left; font-weight: bold;}
.open-list .goods-sales{font-size: 12px;}
.goods-list-grid{margin-top: 42px}
.goods_select{display: inline-block; width: 10%; text-align: center; line-height: 100%; float: left;}
.checkbox, .checkbox-old{margin-top: 40px; cursor: pointer; width: 20px; height: 20px; background-size: 100% 100%;font-size: 23px;}
.footer{position: fixed; left: 0; bottom: 0; width: 100%; height: 44px; background: #fff; border-top: 1px solid;}
.select-all{float: left; line-height: 100%; padding-left: 10px; height: 100%; padding-top: 10px;}
.add-btn{float: right; color: #fff; width: 80px; height: 100%; box-sizing: border-box; border: 0;}
.select-all .checkbox{margin: 0 0 -4px 0; display: inline-block;}
.select-all span{height: 20px;display: inline-block;vertical-align: middle;margin-top: -3px;margin-left: 5px;}
.screening-condition .conditions li div.price-Section{margin-bottom: 10px;font-size: 12px;}
.screening-condition .conditions li div.price-Section input.priceInput{border: 1px solid; display: inline-block; width: 20%; padding: 4px; border-radius: 3px; text-align: center;}
.goods-search{position: relative;border-bottom: 1px solid;}
input#search_text{box-sizing: border-box; width: 100%; height: 35px; padding-left: 15px;border: none;}
.search-img{position: absolute; top: 8px; right: 10px; width: 18px;}
.category-content-section{z-index: 1;}
.screening-condition{position: fixed; z-index: 1010; width: 85%; height: 100%; left: 100%; display: block; background: #eee; top: 0;}
.screening-condition .head-title{width: 100%;background: #fff; border-bottom: 1px solid; padding: 10px;}
.screening-condition .bottom-area{width: 100%; height: 40px; line-height: 40px;position: absolute; bottom: 0; z-index: 5;}
.screening-condition .bottom-area .reset{width: 50%; height: 40px; line-height: 40px; text-align: center; float: left;}
.screening-condition .bottom-area .confirm_screen{width: 50%; height: 40px; line-height: 40px; text-align: center; float: left; color: #fff;}
.screening-condition .conditions{width: 100%; height: 100%; margin-top: 10px; border-top: 1px solid; background: #fff; overflow-y: scroll;}
.screening-condition .conditions li{width: 94%; padding: 10px 2% 0 4%; border-bottom: 1px solid; height: 85px; overflow: hidden; transition: all 0.5s;}
.screening-condition .conditions li div.condition-name{width: 100%; height: 30px; line-height: 30px;}
.screening-condition .conditions li div.condition-name span{float: left;}
.screening-condition .conditions li div.condition-name i{float: right; height: 30px; line-height: 30px; margin-right: 10px;}
.screening-condition .conditions li div.condition-value a{display: inline-block; height: 28px; line-height: 28px; text-align: center; width: 28%; padding: 0 1.5%; background: #eee; margin: 5px 2% 5px 0; border-radius: 3px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border: 1px solid #eee; position: relative;font-size: 12px;}
.screening-condition .conditions li div.condition-value a.all{width: 18%;}
.screening-condition .conditions li div.condition-value a.selected{background: #fff;}
/*底部遮罩层*/
.shade-div{background-color: rgba(0,0,0,0.5);height: 100%;width: 100%; position: fixed; top: 0; left: 0; z-index: 1000; display: none;}
.data-category-select-layer{width: 100%; height: 70%; position: fixed; z-index: 1010; top: 43px; left: 0; background: #fff; display: none;}
.data-category-select-layer .primary-classification{position: absolute; left: 0; top: -1px; width: 100%; height: 100%; z-index: 1;overflow-y: scroll; border-top: 1px solid;}
.data-category-select-layer .primary-classification li{height: 40px; line-height: 40px; width: 29%; padding: 0 2% 0 4%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; box-sizing: unset; font-size: 12px;}
.data-category-select-layer .primary-classification li.active{background: #fff;}
.data-category-select-layer .two_stage_classification{position: absolute; left: 35%; top: 0; width: 100%; height: 100%; z-index: 2; background: #fff; overflow-y: scroll; font-size: 12px;}
.data-category-select-layer .two_stage_classification li{margin-left: 2%; height: 40px; line-height: 40px; display: none;}
.data-category-select-layer .two_stage_classification li.active{display: block;}
.mask-div{background-color: rgba(0,0,0,0.5);height: 100%;width: 100%; position: fixed; top: 0; left: 0; z-index: 111; display: none;}
.user-goods .add-btn{width: 100%;}
.user-goods .del-btn{float: right; color: #fff; width: 80px; height: 100%; box-sizing: border-box; border: 0;}
.hide{display: none !important}
.empty{text-align:center;margin-top:100px;}
.empty img{margin-bottom:20px;width: 70px;}