.index-content .category-content-section{margin-top: 5px;z-index: 1;}
.goods-list-grid{width: 100%;overflow: hidden;}
.open-list li{width: 50%;overflow: hidden;margin-bottom: 5px;float: left;padding: 0;position: relative;list-style: none;}
.open-list li .item{display: block;width: 98%;overflow: hidden;margin: auto;background: #fff;position: relative;}
.goods-list-grid li .item-tag-box{width: 40px;height: 40px;position: absolute;top: 0;left: 0;z-index: 2;}
.open-list li .item-pic{display: block;width: 100%;overflow: hidden;}
.goods-list-grid li .item-pic a{display: block;position: relative;width: 100%;height: 100%;padding-top: 100%;}
.item-pic a img{position: absolute;left: 0;top: 0;max-width: 100%;max-height: 100%;}
.open-list li dl{width: 96%;margin-top: 8px;overflow: hidden;padding-left: 2%;padding-right: 2%;}
.open-list li dl dt{width: 100%;height: 40px;overflow: hidden;}
.open-list li dl dt a{font-size: 14px;line-height: 20px;word-break: break-all;}
.open-list li dd{width: 100%;margin: auto;overflow: hidden;}
.open-list li dd i{display: block;float: left;line-height: 30px;font-weight: bold;}
.open-list li dd i:nth-child(2){border: 1px solid;line-height: initial;margin-top: 5px;margin-left: 7px;font-size: 12px;}
.no-commodtiy{text-align: center;margin-top: 100px;}
.no-commodtiy img{margin-bottom: 20px;}
.lazy-load{display: block;max-width: 100%;max-height: 100%;}