.dis-b{display: block;}
.dis-no{display: none;}
body{background-color: #fff;}
.cart-prolist{overflow: hidden; padding: 10px;}
.cart-prolist-ul{position: relative; overflow: hidden; padding: 0; border: none;}
.cart-prolist .title{font-size: 14px; padding: 10px 0 10px 0; font-weight: normal;}
.custom-store-img{display: inline-block; vertical-align: middle; height: 18px; width: 18px; background: url(../img/goods/shop-img.png) no-repeat; background-size: 18px 18px; margin-right: 5px;}
.cart-ed{float: right;}
.cart-list-foot{height: 40px;}
.cart-list-li .product{position: relative; width: 100%; overflow: hidden; margin: -65px 0 0 18px;}
.cart-list-li>i{margin-top: 40px; width: 20px; height: 20px;font-size: 20px;}
.cart-list-li .product .pic{float: left; margin: 10px; border: 1px solid; border-radius: 3px; width: 80px; overflow: hidden;}
.cart-list-li .pic a{float: left; width: 100%; text-align: center;}
.cart-list-li .product .pic img{width: 80px; min-height: 80px;}
.product .info{overflow: hidden; margin: 10px 10px 0 10px;}
.cart-list-li .product .info-name{overflow: hidden; text-overflow: ellipsis; font-size: 12px; float: left; height: 48px; width: 100%;}
.cart-list-li .number{position: relative; overflow: hidden; bottom: 0; width: 100%; height: 39px; line-height: 39px; text-align: left; margin: 5px 10px 5px 0;}
.num-change{display: inline-block; float: right; position: absolute; bottom: 0; right: 20px;}
.cart-list-li .ui-number .decrease{margin-right: -5px; border-top-left-radius: 2px; border-bottom-left-radius: 2px;}
.cart-list-li .ui-number .increase{border-top-right-radius: 2px; border-bottom-right-radius: 2px;}
.cart-list-li .ui-number .num{padding: 0 5px; height: 25px;line-height:25px;width: 30px;border: 1px solid; text-align: center;vertical-align: middle;border-radius: 0;}
.cart-list-li .ui-number button{width: 25px; height: 25px; line-height: 1; text-align: center;border: 1px solid; vertical-align: middle;margin-left: -5px;}
.increase{margin-left: -5px;}
.btn-wrap-static{position: fixed; left: 0; right: 0; bottom: 0; height: 50px; z-index: 5;}
.btn-wrap-static > .btn{padding: 0;}
.btn-wrap .btn, .s-buy .btn{float: left; height: 50px; line-height: 50px; text-align: center; font-size: 16px; color: #FFF; width: 21%;}
.all-election{float: left; height: 20px; width: 20px; line-height: 5px; margin-right: 5px; margin-left: 6px;}
#select_all{width: 20px; height: 20px; margin-top: -5px;font-size: 20px;}
#price_info{float: left; width: 39%;height: 50px; line-height: 50px; font-size: 14px; text-align: right; padding-bottom: 4px; position: relative; padding-right: 8px;}
.btn-wrap .btn-buy{width: 40%;line-height: 2px;}
#div_selected span{vertical-align: middle; font-size: 14px;}
.cart-none .cart-big{display: block; width: 100%; height: 60px; margin-top: 50px; background: url(../img/goods/cart_empty.png) no-repeat center center; background-size: 60px;}
.cart-none .text{margin: 10px 0 10px 0; font-size: 15px;text-align: center;}
.cart-none .btn {display: block; margin: 0 auto 80px auto; height: 35px; line-height: 35px; width: 120px;}