input{width: 100%; height: 23px;border: 0;padding: 20px;}
.tip-text{padding: 20px 10px;}
.btn-wrap{text-align: center;}
.btn-wrap .button{padding: 8px 0; border-radius: 3px; margin: auto; width: 95%;display: inline-block;color:#fff;}
.panel{margin-bottom: 20px; padding: 20px;background: #FFF;}
.side-nav{padding: 0;}
.side-nav li{position: relative;}
.side-nav li a{display: block;padding: 10px 20px;}
.side-nav li a span{line-height: 25px;}
.side-nav li a i{position: absolute; right: 20px; top: 32%; display: inline-block;font-size: 16px;}