img{width:100%;height:100%;}
.share-box{padding: 8px 0 15px; background-color:#fff;}
.share-box .share-box-top{text-align:center; height:30px; line-height:30px;}
.share-box .share-box-middle-qrcode{width:40%; margin:10px auto;}
.share-box .share-box-bottom{text-align:center;}
.share-box .share-box-bottom span{display:inline-block; padding:10px; border-radius:2px;}
.share-info{background-color:#fff; margin-top:8px;}
.share-info .share-info-nav{padding:7px;border-bottom:1px solid;}
.share-info .share-info-nav .share-info-nav-top{border-left:3px solid; padding-left:10px;}
.share-info .share-info-content{padding-bottom:10px; border-bottom: 1px solid;}
.share-info .share-info-content .share-info-content-box{padding: 5px 0 0 10px;}
.share-info .share-info-content .share-info-content-box .share-info-title{display:inline-block; width:20%; min-width:90px;}