body{padding: 0; margin: 0;}
article{text-align: center; margin: 20px auto;}
article h3{font-weight: normal;}
article p{color: #00C12C;}
article button{border: 0; background: #01C12D; color: #fff; border-radius: 3px; padding: 10px; width: 90%; font-size: 16px; outline: none; margin: 15px 0;}
.other-view{max-width: 90%; width: 90%; margin-top: 30px;}
.on-wechat{position: absolute; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); text-align: center;}