@charset "utf-8";
*{padding: 0; margin: 0;}
.body{background: #f0f2f5; min-height: 100%;}
.clear:after{content: ""; clear: both; display: table;}
/*顶部*/
.header{position: relative; overflow: hidden; box-shadow: 0 2px 3px #e2e9ee; background: #fff;}
.header .container{margin: 0 auto; width: 1200px;}
.header .container .logo{margin: 10px 0; float: left;}
.header .container .logo img{max-width: 100%; vertical-align: middle;}
.pay-body{width: 1200px; min-height: 400px; margin: 20px auto; background: #fff;}
.pay-body .payment-wrap{padding: 50px 270px 50px 250px; overflow: hidden;}
.pay-body .payment-wrap .order-detail{padding: 10px 0 20px; border-bottom: 1px solid;}
.pay-body .payment-wrap .order-detail dl{padding-bottom: 10px;}
.pay-body .payment-wrap .order-detail dl dt{float: left; font-weight: 700; font-size: 14px;}
.pay-body .payment-wrap .order-detail dl dd{font-size: 14px;}
.pay-body .payment-wrap .order-detail .order-pay-money{position: relative;}
.pay-body .payment-wrap .order-detail .order-pay-money span{font-size: 14px; font-weight: 700;}
.pay-body .payment-wrap .order-detail .order-pay-money span em.rmb{font-weight: 400; font-size: 24px; font-style: normal;}
.pay-body .payment-wrap .order-detail .order-pay-money span em.rmb i{font-size: 18px; font-style: normal;}
.pay-body .payment-wrap .order-detail .order-info{padding-left: 80px;}
.pay-body .payment-wrap .order-detail .order-info dl{font-size: 14px; margin-top: 10px; padding-bottom: 0;}
.pay-body .payment-wrap .order-detail .order-info dl dt{font-weight: normal;}
/*支付方式*/
.pay-body .payment-wrap .pay-type{padding: 20px 0;}
.pay-body .payment-wrap .pay-type .pay-type-tit{font-size: 14px; font-weight: 700;}
.pay-body .payment-wrap .pay-type .pay-type-list{padding-top: 15px; overflow: hidden;}
.pay-body .payment-wrap .pay-type .pay-type-list li{position: relative; font-size: 0; display: block; float: left; width: 130px; height: 44px; line-height: 42px; text-align: center; box-sizing: border-box; border: 1px solid; cursor: pointer; margin-left: 20px; overflow: hidden; transition: border-color .2s;}
.pay-body .payment-wrap .pay-type .pay-type-list li:first-child{margin-left: 0;}
.pay-body .payment-wrap .pay-type .pay-type-list li.selected{border: 2px solid; line-height: 44px;}
.pay-body .payment-wrap .pay-type .pay-type-list li img{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.pay-body .payment-wrap .pay-type .no-payment-type{padding-top: 20px; font-size: 14px;}
.pay-body .payment-wrap .payment-btn{display: inline-block; border-radius: 2px; text-align: center; box-sizing: border-box; vertical-align: top; transition: color .1s ease-in, background-color .1s ease-in; color: #fff; width: 130px; height: 45px; font-size: 16px; line-height: 45px; text-decoration: none; margin-top: 15px;}
.pay-body .payment-wrap .payment-btn.disabled{cursor: not-allowed;}
.layer-shade{width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); position: fixed; top: 0; left: 0; z-index: 5; display: none;}
.layer-shade .layer{width: 480px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid; font-size: 14px;background: #fff;}
.layer-shade .layer .layer-content{line-height: 20px; padding: 20px; background: #fff; font-size: 14px; text-align: center; min-height: 60px;}
.layer-shade .layer .layer-content .control{display: inline-block; text-align: center; padding: 55px 0 35px;}
.layer-shade .layer .layer-content .control p.title{font-size: 16px; margin-bottom: 10px; font-weight: 700;}
.layer-shade .layer .layer-content .control p.tip{font-size: 12px;}
.layer-shade .layer .layer-foot{padding: 15px 0; border-top: 1px solid; position: relative; text-align: center;}
.layer-shade .layer .layer-foot .payment-completion{height: 33px; min-width: 24px; padding: 0 20px; border-radius: 2px; color: #fff; font-size: 14px; line-height: 33px; text-align: center; display: inline-block; cursor: pointer; outline: 0; text-decoration: none;}