body{font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;}
a{text-decoration: none;}
.ns-pay{background: #fff; width: 990px; margin: 0 auto;}
.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden}
.order{position: relative; *zoom: 1}
.order .o-left{float: left; width: 640px; padding-top: 32px; padding-bottom: 32px; padding-left: 0;}
.order .o-right{float: right; width: 190px; padding-top: 32px; padding-bottom: 10px; padding-right: 10px; overflow: hidden}
.order .o-title{line-height: 26px; height: 26px; overflow: hidden; font-size: 14px}
.order .o-price{text-align: right; line-height: 26px}
.order .o-price em{vertical-align: bottom}
.order .o-price strong{font-size: 18px; vertical-align: bottom;margin: 0 3px}
.payment{background-color: #fff; padding: 12px 30px 0; -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .12); -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .12); box-shadow: 0 0 20px rgba(0, 0, 0, .12); -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out;overflow: hidden;}
.payment:hover{-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .24); -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .24); box-shadow: 0 0 20px rgba(0, 0, 0, .24)}
.p-w-hd{margin-bottom: 20px; font-size: 18px;}
.p-w-bd{padding-left: 130px; margin-bottom: 30px}
.p-w-box{float: left; width: 300px}
.p-w-sidebar{float: left; width: 379px; height: 421px; padding-left: 50px; margin-top: -20px; background: url(../../img/pay/phone-bg.png) 50px 0 no-repeat}
.pw-box-hd{margin-bottom: 20px; border: 1px solid #ddd; width: 298px; height: 298px}
.pw-box-hd img{width: 298px; height: 298px;}
.pw-box-ft{height: 44px; padding: 8px 0 8px 125px; background: url(../../img/pay/icon-red.png) 50px 8px no-repeat #ff7674}
.pw-box-ft p{margin: 0; font-size: 14px; line-height: 22px; color: #fff; font-weight: 700}
.js-weixin-info{position: absolute; top: -36px; left: 130px;}
.js-weixin-info a,.qrcode-time{font-weight: bold;}