.tab-title2{overflow: hidden; border-bottom: 1px solid; background-color: #fff; text-align: center;}
.tabs.tab-title2 dd{position: relative; float: left; width: 50%;}
.tabs.tab-title2 dd > a{display: block; padding: 8px 12px; border-right:1px solid;}
tr{float: left; width: 100%; border-bottom: 1px solid; background-color: #fff;}
tr td:last-child{width: 100%;}
tr td{padding: 0.5625rem 0.625rem ; float: left;}
tr td:last-child p{width: 100%; line-height: 22px;}
tr td:last-child p:last-child{float: left;}
.tabs-content{margin-bottom: 10px;}
.content-01{display: block;overflow:hidden;}
.content-02{display: none;}
.nothing-data{margin-top: 150px;}