@charset "utf-8";
i.shipping-fee{font-style: normal; font-size: 12px !important;; background: #fff; padding: 1px 3px; margin-left: 5px; border-radius: 2px; display: inline-block; line-height: 1 !important; font-weight: normal !important; border: 1px solid;}
.open-list .goods-info{width: 100%; overflow: hidden; border-bottom: 1px solid; background: #fff; padding: 8px 3%;}
.open-list .goods-info:last-child{border-bottom: none;}
.open-list .goods-info .goods-img{display: inline-block; width: 30%; text-align: center; line-height: 100%; float: left;}
.open-list .goods-info .goods-img a{display: inline-block; width: 100%; padding: 50% 0; text-align: center; position: relative;}
.open-list .goods-info .goods-img a .pic{max-height: 100%; max-width: 100%; height: auto; vertical-align: middle; position: absolute; top: 0; left: 0;}
.open-list .goods-info .data-info{display: inline-block; width: 66%; float: left; position: relative; margin-left: 4%;}
.open-list .goods-info .data-info .goods_name{width: 100%;overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box; line-height: 150%;}
.open-list .goods-info .data-info .data-goods-sales-info{width: 100%; height: 20px; line-height: 20px; bottom: 5px; position: absolute;}
.open-list .goods-info .data-info .data-goods-sales-info .data-sales{font-size: 12px;}
.open-list .goods-info .data-info .price-share{width: 100%; height: 25px; line-height: 25px; bottom: 25px;position: unset;}
.open-list .goods-info .data-info .price-share .price{display: inline-block; float: left; font-weight: bold;}
.open-list .goods-info .data-info .data-goods-sales-info{position: unset;}
.f12{font-size: 12px;}
.user-shop{position: relative; background: #fff; border-bottom: 1px solid;}
.user-shop-img{width: 60px; border-radius: 50%; overflow: hidden; height: 60px; line-height: 50px; vertical-align: middle; margin-right: 15px; display: inline-block;}
.user-shop-name{padding: 15px;}
.user-shop-title{display: inline-block; color: #fff; font-size: 16px;}
.user-shop-goods{height: 70px;}
.user-shop-num{float: left; text-align: center; width: 50%; height: 100%; padding-top: 10px;}
.user-shop-num div{line-height: 25px;}
.clear{clear: both;}
.empty-data{text-align: center; margin-top: 100px; font-size: 12px;}
.empty-data img{width: 50px; margin-bottom: 10px;}
.bottom-menu{display: block !important;}