body{background: #fff;}
.reg-box{width: 90%; margin: 0 auto; position: relative;}
.reg-box .reg-cont{position: relative; display: block; height: 45px; width: 100%;border-bottom: 1px solid;}
.reg-box .reg-cont label{width: 80%;}
.reg-box .reg-cont label input{height: 44px; font-size: 14px; border: none; padding: 5px 1px; width: 60%; margin: 0;}
.reg-box .reg-cont label span{width: 70px; display: inline-block;}
.tit-info{margin: 20px 10px;}
.tit-info .h3{font-size: 16px;}
.tit-info p{font-size: 12px; margin-top: 3px;}
.btn{display: block; width: 100%; height: 35px; border-radius: 18px; margin: 20px auto 0;}
.no-account{background-color: #fff !important;}
.captcha{width: 75px; float: right; margin: 11px 4px;}
.reg-box .reg-cont .validate{width: 40%;}