/* 公共样式 */
body{background-color: #fff;}
.dis-no{display: none;}
.dis-bk{display: block;}
.content{max-width: 648px; margin: 0 auto;}
/* 账号登录 */
.nk-text1{display: block;}
.nk-top .nk-cell{float: left; width: 50%; text-align: center;}
.nk-cell > span{display: inline-block; line-height: 40px;}
.active > span{border-bottom: 1px solid;}
.log-wp{padding: 0 10px; margin: 10px 0 20px;}
.log-cont{position: relative; display: block; height: 45px; width: 80%; margin-left: 10%; border-bottom: 1px solid;}
.log-cont label{position: absolute; left: 0; width: 100%;}
.log-cont label input{height: 44px; font-size: 14px; border: none; padding: 5px 1px; width: 70%; margin-left: 31px;}
.log-cont #cfpassword{margin-left: 3px;}
.verifyimg{width: 110px !important; float: right; margin: 4px;}
.log-box .log-cont label span.username{width: 30px; height: 30px; text-indent: -9999px; display: inline-block; background: url("../img/login/username.png") no-repeat; background-size: 30px 30px; position: relative; vertical-align: middle;}
.log-box .log-cont label span.password{width: 30px; height: 30px; text-indent: -9999px; display: inline-block; background: url(../img/login/password.png) no-repeat; background-size: 30px 30px; position: relative; vertical-align: middle;}
.log-box .log-cont label span.captcha-code{width: 30px; height: 30px; text-indent: -9999px; display: inline-block; background: url(../img/login/captcha_code.png) no-repeat; background-size: 30px 30px; vertical-align: middle;}
.log-cont .login-captcha input#login_captcha{padding-left: 5px; width: 45%;}
.verify{display: inline-block;}
.verify img{width: 80px;}
.lang-btn{display: block; width: 85%; height: 35px; padding: 0 10px; margin: 10px auto 0; border: none; border-radius: 2px;}
.nk-top{margin-top: 5%; margin-bottom: 10px;overflow: hidden;}
.log-wp .msg{width: 80%; margin: 10px auto; text-align: right;}
.line-pic{width: 80% !important; margin-left: 10%; margin-top: 20px;}
.login-wei-two{text-align: center; float: left; margin: 1rem 17%; width: 16%; height: auto;}
.login-wei-two img{width: 40px; height: 40px;}
.footer{margin: 100px 0 0 0; padding: 0; min-height: 86px; text-align: center; line-height: 16px;}
.login-mode{margin: 0 10%; overflow: hidden;}
.nk-cont .account-verification{margin-left: 13px;}
/* 手机动态登录 */
.nk-cont{position: relative; display: block; height: 45px; border-bottom: 1px solid; margin-left: 10%;width: 80%; font-size: 14px;}
.nk-cont label input{height: 100%; font-size: 12px; border: none; padding: 5px 1px; width: 41%;}
.nk-cont label input:nth-of-type(2){margin-top: 0;width: 34%!important;}
.sendOutCode{float: right; width: 80px; height: 25px; background-color: transparent; border: 1px solid; margin-top: 10px; border-radius: 20px;}
.register-immediately{text-align: center; line-height: 35px; background-color: transparent;}
.nk_text2{display: none;}
.nk-cont label .handset{margin-right: 20px;}
.nk-cont label .verification{margin-right: 14px;}
.nk-cont label .handset-pwd{margin-right: 32px;}
.log-cont label .handset-cfpaw{margin-left: 2px;}

/* 忘记密码 */
.forget-password{position: fixed; top: 0; width: 100%; height: 100%; z-index: 999999; background: rgba(0, 0, 0, 0.75); display: none;}
.findback{text-align: center; display: none; z-index: 19891015; position: fixed; top: 35%; width: 80%; margin-left: 10%; padding: 0 5%; border-radius: 10px;}
.findback a{display: block !important; float: left !important; padding: 10% 8%; width: 45%; font-size: 12px;}
.findback a:nth-child(2){margin-right: 5%;}
.findback a:nth-child(2){float: right !important;}
.findback img{position: relative; width: 70% !important;}
.findback p{height: 30px; line-height: 30px; margin-top: 5px;}
.nk-cell-one{float: left; width: 100%; text-align: center;}
.assistant-member{width: 80% !important; margin-left: 10%; margin-top: 25px;}
.login-wei{text-align: center; margin: 1rem 17%; height: auto;}
.login-wei img{width: 40px; height: 40px;}
.log-protocol{margin: 10px 0 0 10%;}
/* 注册协议 */
.protocol-loading{position: fixed; top: 0; width: 100%; left: 0; height: 100%; background: rgba(0, 0, 0, .5); z-index: 99; -webkit-transition: -webkit-opacity .3s ease-out; -o-transition: -o-opacity .3s ease-out; transition: -webkit-opacity .3s ease-out; transition: opacity .3s ease-out; opacity: 0; transition: all 1s linear; transition: opacity 200ms ease; pointer-events: none;}
.protocol-loading.fadein{opacity: 1; pointer-events: all;}
.loading-box{position: absolute; top: 10%; width: 80%; left: 10%; border-radius: 12px;background-color: #fff;}
.loading-title{min-height: 16px; padding: 15px; border-bottom: 1px solid;}
.loading-content{overflow: hidden;}
.loading-content div{overflow-y: scroll;max-height: 300px;padding: 10px;}
.loading-footer{padding: 15px; text-align: right; border-top: 1px solid;}
.loading-footer button{padding: 8px 15px; border: 0; border-radius: 3px; box-sizing: border-box;}