.btn-save{display: block; width: 85%; height: 35px; margin: 20px auto 0; border: 0; line-height: 35px; text-align: center;color: #fff; border-radius: 5px;}
.empty-account{padding-top: 0;text-align: center;}
.empty-account>*{margin-top: 10px;}
.div-simply{display: inline-block;width: 100%;padding: 5px;border-bottom: 1px solid;}
.side-nav li{margin-top: 10px;background: #fff;padding: 0;}
.side-nav li:before{content: '';background: url('../img/border_order_top.png');height: 2px;display: block;}
.div-item{padding: 10px;background: #fff;border-bottom: 1px solid;}
.div-item span{width: 20%;text-align: center;display: inline-block;vertical-align: middle;}
.div-item input,.div-item select{display: inline-block;width: 70%;border: none;line-height: 16px;height: 19px;vertical-align: middle;background: #fff;}
select{appearance: none;-moz-appearance: none;-webkit-appearance: none;outline: none;-moz-outline: none;-webkit-outline: none;}
/* 清除ie的默认选择框样式清除，隐藏下拉箭头 */
select::-ms-expand{display: none;}