.address-list li{margin: 10px 0 5px;border-bottom: 1px solid;background: #fff;}
.address-list li>a{display: block;}
.address-list li:before{content:'';background: url("../img/border_order_top.png");height: 2px;display: block;width: 100%;}
.address-list li .info{display: inline-block;width: 100%;border-bottom: 1px solid;}
.address-list li .info a{display: inline-block;float: right;}
.address-list li>*{padding: 10px 5px;}
.btn-save,.btn-get-address{display: block; height: 35px; line-height: 35px; text-align: center; color: #fff; width: 85%; border: 0;margin: 0 auto 15px; border-radius: 5px;}
.empty-address{padding-top: 0;text-align: center;}
.empty-address>*{margin-top: 10px;}
.btn-save{margin-top: 20px;margin-bottom: 20px;}