@charset "utf-8";
.h50{height: 50px;}
.hide{display: none;}
div[data-page]{display: none;}
div[data-page="main"]{display: block;}
.dividing-line{width: 100%; height: 10px;}
.address-wrap{padding: 15px 10px; line-height: 22px; min-height: 22px; position: relative; background: #fff url("../img/border_order_top.png") bottom repeat-x; background-size: auto 2px;}
.address-wrap::before{content: ''; position: absolute; top: 18px; left: 10px; width: 18px; height: 18px; background-image: url("../img/order/address_icon.png"); background-size: 18px 18px;}
.address-wrap .address{margin: 0 0 0 25px;}
.address-wrap .name{float: left; width: 160px;text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.address-wrap .tel{float: right;}
.address-wrap .address-detail{margin-top: 2px; font-size: 12px; line-height: 16px;}
.empty-address{position: relative; padding: 16px 10px; line-height: 40px; font-size: 14px;background: #fff url("../img/border_order_top.png") repeat-x bottom/auto 2px;}
.empty-address a{position: static;display: block;}
.empty-address a .add-icon{width: 40px; height: 40px; display: inline-block; background: url("../img/order/add_address.png") center no-repeat; background-size: contain; margin-right: 10px;vertical-align: middle;}
.empty-address a span{vertical-align: middle;}
.goods-wrap{padding: 0 10px 10px; background: #fff;}
.goods-wrap .goods-item{margin-left: 0; width: auto; padding: 10px 0 0 0; position: relative; border-bottom: 0 !important; display: flex; flex-wrap: wrap;}
.goods-wrap .goods-item .goods-img{-webkit-box-flex: 0; flex: none !important; width: auto;}
.goods-wrap .goods-item .goods-img img{width: 65px; height: 65px; margin-right: 10px; display: block;}
.goods-wrap .goods-item .goods-info{flex: 1;}
.goods-wrap .goods-item .goods-info .goods-name{font-weight: normal; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; line-height: 1.3;}
.goods-wrap .goods-item .goods-info .goods-name .gift-mark{font-size: 12px; color: #fff; border-radius: 3px; margin-right: 5px;}
.goods-wrap .goods-item .goods-info .sku-name{display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden; font-size: 12px;line-height: 1; padding-top: 5px;}
.goods-wrap .goods-item .goods-buy-info{-webkit-box-flex: 0; flex: none !important; width: auto;}
.goods-wrap .goods-item .goods-buy-info .price{margin-left: 10px; text-align: right;}
.goods-wrap .goods-item .goods-buy-info .price .unit{font-size: 12px;}
.goods-wrap .goods-item .goods-buy-info .price .point{font-size: 12px;}
.goods-wrap .goods-item .goods-buy-info .tail-money{font-size: 12px; line-height: 1.5}
.goods-wrap .goods-item .goods-buy-info .tail-money span{display: inline-block;}
.goods-wrap .goods-item .goods-buy-info .buy-num{text-align: right; font-size: 12px;}
.option-item{border-bottom: 1px solid; overflow: hidden; line-height: 45px; padding: 0 10px; background: #fff;}
.option-item > label{float: left;}
.option-item > span{float: right; font-size: 12px;}
.fa-angle-right{float: right;line-height: inherit;margin-left: 5px;font-size: 16px;}
.fa-angle-right.vis-hidden{visibility: hidden;}
.option-item > textarea{height: 45px; float: right; line-height: 1.2; width: 60%; font-size: 12px; border: none; transition: all .5s; resize: none; padding: 15px 7px; text-align: right;}
.option-item > textarea:focus{height: 70px;}
.option-item .coupon-mark{padding: 2px 4px; font-size: 12px; border: 1px solid; border-radius: 3px;}
.point label span{font-size: 12px; margin-left: 5px;}
.point .use-point{width: 80px; float: right; text-align: right; padding: 10px; box-sizing: border-box; height: 45px; border: none;}
.account-cont input{height: 45px; float: right; line-height: 1.2; width: 60%; font-size: 12px; border: none; transition: all .5s; resize: none; padding: 15px 10px 15px 7px; text-align: right;}
.shipping-type{border-bottom: 1px solid; overflow: hidden; padding: 10px; background: #fff; position: relative;}
.shipping-type .fa-angle-right{position: absolute;right: 10px;top: 50%;margin-top: -11px;}
.shipping-type div:first-child{margin: 5px 0;}
.shipping-type > div{padding-right: 11px;}
.shipping-type > div > label{float: left;}
.shipping-type > div > span{float: right; font-size: 12px;}
.shipping-type .other-info{overflow: hidden; margin: 0;font-size: 12px;}
.buy-section{position: relative; background-color: #fff; padding-bottom: 10px;}
.buy-section ul{padding: 10px; font-size: 14px;}
.buy-section ul li{margin-top: 3px;}
.buy-section ul li .price .unit{font-size: 12px;}
.buy-section .total-price{font-size: 16px; text-align: right; padding: 0 10px 20px 10px;}
.buy-section .presell-pay-type ul{padding: 0; font-size: 12px;}
.buy-section .presell-pay-type li{float: left; line-height: 20px; margin-top: 0; margin-left: 10px;}
.buy-section .presell-pay-type li .iconfont{float: left; margin-right: 2px;}
.buy-section .submit-order-btn{display: block; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; min-width: 0; height: 46px; line-height: 46px; text-align: center; font-size: 14px; border-radius: 4px; position: relative; margin: 0 10px; color: #fff;}
.invoice-wrap .invoice-form{background: #fff; padding: 0 10px;}
.invoice-wrap .invoice-form .form-group{box-sizing: content-box; border-bottom: 1px solid; display: flex;}
.invoice-wrap .invoice-form .form-group label{padding: 13px 5px 13px 0; font-size: 14px; line-height: 20px; flex: none;}
.invoice-wrap .invoice-form .form-group input{-webkit-box-flex: 1; -webkit-flex: 1; flex: 1; height: 32px; font-size: 12px;padding: 0 10px; margin: 7px 0 7px 5px; box-sizing: border-box; border: none;}
.invoice-wrap .tips{margin: 5px 10px;font-size: 12px; line-height: 1.2;}
.invoice-wrap .tips i{vertical-align: middle;}
.invoice-cont-list li{padding: 10px 0; height: 20px; box-sizing: content-box; border-bottom: 1px solid; font-size: 12px;}
.invoice-cont-list li .iconfont{display: inline-block; font-size: 16px; margin-right: 5px; line-height: 20px;}
.coupon-list{padding: 0 10px 50px 10px;}
.coupon-list li{position: relative; margin: 15px 0; padding-left: 30px;}
.coupon-list li > .iconfont{position: absolute; top: 50%; transform: translateY(-50%); left: 5px;}
.coupon-list li .coupon-info{position: relative; border-radius: 6px; border-top: 6px solid currentColor; border-bottom: 10px solid #fff; background: #fff; padding: 10px 10px 0; box-shadow: -2px 0 8px #ccc;}
.coupon-list li .coupon-info .coupon-left-view{float: left; position: relative; width: 120px; height: 80px; margin-right: 10px; text-align: center;}
.coupon-list li .coupon-info .coupon-left-view .money strong{font-weight: 700; font-size: 45px; position: relative; top: 1px; line-height: 1;}
.coupon-list li .coupon-info .coupon-left-view .at-last{margin-top: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: bottom;}
.coupon-list li .coupon-info .coupon-right-view{float: left; position: relative; width: calc(100% - 130px); height: 80px;}
.coupon-list li .coupon-info .coupon-right-view .limit{height: 50px;}
.coupon-list li .coupon-info .coupon-right-view .limit > .iconfont{position: relative; top: 1px; margin-right: 2px;}
.coupon-bottom{left: 0; right: 0; margin: 0 auto; background-color: #fff; position: fixed; z-index: 101; bottom: 0; display: flex;}
.coupon-confirm-btn{height: 46px; line-height: 46px; text-align: center; font-size: 16px; display: block; color: #fff; flex: 1;}
.coupon-list li .coupon-info .coupon-right-view .time-limit{font-size: 12px;}
.available-invoice{padding: 14px 10px; background: #fff;}
.available-invoice .invoice-checkbox{float: right;}
.switch-checkbox{display: none;}
.switch-label{background-color: #fff; display: inline-block; position: relative; height: 25px; width: 40px; border-radius: 1000px; border: 1px solid; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
.switch-checkbox:checked ~ .switch-label .switch-circle{left: 16px;}
.switch-circle{position: absolute; display: inline-block; height: 23px; width: 23px; border-radius: 50%; background-color: #fff; left: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; box-shadow: 1px 1px 3px rgba(0, 0, 0, .32);}
.invoice-bottom{left: 0; right: 0; margin: 0 auto; background-color: #fff; position: fixed; z-index: 101; bottom: 0; display: flex;}
.invoice-confirm-btn{height: 46px; line-height: 46px; text-align: center; font-size: 16px; display: block; color: #fff; flex: 1;}
.delivery-wrap .title{height: 40px; line-height: 40px; position: relative; padding-left: 30px; font-weight: normal; font-size: 14px; margin-bottom: 0; background: #fff;}
.delivery-wrap .title:before{content: ''; position: absolute; background: url(../img/order/delivery-icon.png) no-repeat; width: 14px; height: 14px; display: block; background-size: contain; left: 10px; top: 13px;}
.delivery-wrap .shipping-type-list{padding: 0 0 5px 10px; background: #fff;}
.delivery-wrap .shipping-type-list li{display: inline-block; margin: 0 10px 10px 0; height: 30px; line-height: 30px; padding: 0 10px;border: 1px solid; border-radius: 3px;}
.delivery-wrap .panel{background: #fff;}
.delivery-wrap .panel .v2-title{margin: 0 10px 0; height: 45px; line-height: 45px; font-weight: 400; font-size: 14px;border-bottom: 1px solid;}
.delivery-wrap .panel .express-company-list{margin: 0 10px;}
.delivery-wrap .panel .express-company-list li{padding: 10px 0; border-bottom: 1px solid;}
.delivery-wrap .panel .express-company-list li .iconfont{display: inline-block; font-size: 16px; margin-right: 5px; line-height: 20px;}
.delivery-wrap .panel .shipping-time{position: relative; padding: 0 10px; height: 42px; line-height: 42px; font-size: 12px;text-align: right;}
.delivery-wrap .panel .shipping-time .fa{margin-left: 5px;}
.delivery-wrap .panel .pickup-point-list li{padding: 10px 10px 10px 36px; position: relative;}
.delivery-wrap .panel .pickup-point-list .line{margin: 0 10px; height: 1px;}
.delivery-wrap .panel .pickup-point-list li .iconfont{position: absolute; left: 10px; top: 50%; transform: translateY(-50%);}
.delivery-wrap .panel .pickup-point-list li .pickup-point-info{display: inline-block;}
.delivery-wrap .panel .pickup-point-list li .pickup-point-info h5{margin-bottom: 5px;}
.delivery-wrap .panel .pickup-point-list li .pickup-point-info .address{font-size: 12px;}
.delivery-bottom{left: 0; right: 0; margin: 0 auto; background-color: #fff; position: fixed; z-index: 101; bottom: 0; display: flex;}
.delivery-confirm-btn{height: 46px; line-height: 46px; text-align: center; font-size: 16px; display: block; color: #fff; flex: 1;}
.shade{position: fixed; width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, .6); z-index: 1000;}
.picker{position: fixed; width: 100%; top: 100%; right: 0; bottom: 0; left: 0; background: #fff; z-index: 1001; transition: all .3s; display: block; transform: translateY(-100%);}
.picker.middle{height: 180px;}
.picker.big{height: 350px;}
.picker.hide{transform: translateY(0);}
.picker .picker-head{position: relative; overflow: hidden; height: 40px; line-height: 40px; text-align: center;}
.picker .picker-head .fa{position: absolute; right: 10px; top: 50%; transform: translateY(-50%);}
.picker .picker-body{width: 100%; height: 100%;}
.picker .picker-body.pay{max-height: calc(100% - 100px)}
.picker .picker-body.shipping{max-height: calc(100% - 40px)}
.picker .picker-foot{position: relative; overflow: hidden; padding: 10px; height: 40px; box-sizing: content-box;}
.picker .picker-foot .confirm-btn{display: block; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; min-width: 0; height: 40px; line-height: 40px; text-align: center; font-size: 14px; border-radius: 4px; position: relative; margin: 0 10px; color: #fff;}
.picker-body .pay-type-list{padding: 0 20px;}
.picker-body .pay-type-list li{padding: 10px 0; height: 20px; line-height: 20px; box-sizing: content-box; border-bottom: 1px solid; font-size: 12px;}
.picker-body .pay-type-list li .iconfont{float: left; margin-right: 10px;}
.picker-body .date-list{padding-bottom: 6px; height: 100%; overflow-y: scroll;}
.picker-body .date-list li{width: 30vw; height: 34px;border-radius: 4px; font-size: 12px; line-height: 34px; text-align: center; margin-left: 2.5vw; margin-top: 6px; float: left;}
.picker-body .date-list li.selected{color: #fff;}
.picker-body .date-list .distribution-time-out .tit{margin: 10px 2.5vw 0 2.5vw;}
.picker-body .date-list .distribution-time-out .time-out-list span{width: 30vw; height: 34px;border-radius: 4px; font-size: 12px; line-height: 34px; text-align: center; margin-left: 2.5vw; margin-top: 6px; float: left; display: inline-block;}
.picker-body .date-list .distribution-time-out .time-out-list span.selected{color: #fff;}