@charset "utf-8";
.list-myorder{padding-top: 0;margin: 0;border-bottom:none;background: #fff;}
.list-myorder ul{margin: 0 15px;}
.list-myorder ul li{padding:10px 0;list-style:none;border-bottom:1px dotted;overflow:hidden;}
.list-myorder ul li .pic{float:left;width:70px;height:70px;margin-right:10px;}
.list-myorder ul li .pic img{width:100%;height:100%;}
.list-myorder ul li .text{overflow:hidden;font-size:14px;}
.list-myorder ul li .pro-name {overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box;}
.list-myorder ul li .pro-pric{margin-top:5px;}
.list-myorder ul li .pro-pric span{font-size:12px;}
.pickedup-info{padding: 10px 15px;background: #fff;}
.pickedup-info dl dt,.pickedup-info dl dd{display: inline-block;font-size: 14px;}
.confirm-pick-up{width: 100%;height: 50px;line-height: 50px;position: fixed;bottom: 0;}