{extend name="$base" /}
{block name="resources"}
<link rel="stylesheet" href="__STATIC__/blue/css/ns_table_style.css" />
<link rel="stylesheet" href="__STATIC__/blue/css/ns_blue_common.css" />
<style>
.table-class tr th, .table-class tr td{padding:10px;}
.tiphelp-info{margin:0;padding:8px;}
.set-style h4{margin-left:0px;}
.set-style dl dt{width:10%;}
.ns-main{margin-top:0px;}
</style>
{/block}
{block name="warm_prompt"}{/block}
{block name="right_tab_tip"}{/block}
{block name="main"}
<!-- <div class="set-style">
	<h4>开启设置</h4>
	<dl>
		<dt >是否开启自定义模板：</dt>
		<dd>
			<input type="checkbox" class="checkbox js-status" {if condition="$is_enable == 1"}checked="checked"{/if} />
		</dd>
	</dl>
	<h4>模版设置</h4>
</div> -->
<table class="mytable">
	<tbody>
		<tr>
			<td style="text-align: left;">
				<button class="btn-common-delete" onclick="batchDelete()" style="margin:0 5px 0 0 !important;">批量删除</button>
				<button class="btn-common" onclick="location.href='{:__URL('__URL__/NsDiyView/ADMIN_MODULE/config/wapCustomTemplateEdit?type=' . $type)}';" style="margin:0 !important;">添加{if $type eq 2}小程序{else/}手机端{/if}模板页面</button>
			</td>
			<td>
				模板名称：<input id="template_name" class="input-medium input-common" type="text" placeholder="要搜索的模板名称">
				<input type="button" onclick="searchData()" value="搜索" class="btn-common" style="line-height: initial;">
			</td>
		</tr>
	</tbody>
</table>
<table class="table-class">
	<colgroup>
		<col width="2%">
		<col width="48%">
		<col width="20%">
		<col width="15%">
		<col width="15%">
	</colgroup>
	<thead>
		<tr>
			<th><i class="checkbox-common"><input type="checkbox" ></i></th>
			<th align="left">模板名称</th>
			<th align="center">类型</th>
			<th>创建时间</th>
			<th align="center">操作</th>
		</tr>
	</thead>
	<tbody id="list"></tbody>
</table>

<!-- 设置所属页面 -->
<div class="modal fade hide" id="set_page" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<input type="hidden" id="hidden_diy_id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>设置所属页面</h3>
			</div>
			<div class="modal-body">
				<div class="modal-infp-style">
					<table class="modal-tab" style="width: 100%;height: 110px;">
						<tr style="vertical-align: text-bottom;">
							<td colspan='1' style="text-align: center">选择页面</td>
							<td colspan='3'>
							<select id="diy_view_id" class="select-common middle">
								<option value ="-1">请选择</option>
								{foreach $view_list as $k => $v}
								<option value ="{$k}">{$v.name}</option>
								{/foreach}
							</select>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn-common btn-big" onclick="setDiyView()">保存</button>
				<button class="btn-common-cancle btn-big" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
{empty name='$type'}
<input type="hidden" id="type" value="1">
{else/}
<input type="hidden" id="type" value="{$type}">
{/empty}
{/block}
{block name="script"}
<script>

function showSetPage(id){
	$("#hidden_diy_id").val(id);
	$("#set_page").modal("show");
}

function setDiyView() {
	var id = $("#hidden_diy_id").val();
	var diy_view_id = $('#diy_view_id').val();
	var type = $('#type').val();
	if(diy_view_id == -1) {
		showTip('请选择页面', "error");
		return;
	}
	
	$.ajax({
		url : "{:__URL('__URL__/NsDiyView/ADMIN_MODULE/config/setDiyView')}",
		type : 'post',
		data : {
		    id : id,
            type: type,
            diy_view_id : diy_view_id
		},
		dataType : 'JSON',
		success: function(res) {
			if(res["code"] > 0 ){
				LoadingInfo(1);
				$("#set_page").modal("hide");
				showTip(res["message"],"success");
			}else{
				showTip(res["message"],"error");
			}	
		}
	})
}

$(function(){
	$(".switch-open").text("启用");
	$(".switch-close").text("禁用");
	
});

function LoadingInfo(page_index) {
	var type = $('#type').val();
	$.ajax({
		type : "post",
		data : {
			"page_index" : page_index,
			"page_size" : $("#showNumber").val(),
			type: type,
			"template_name" : $("#template_name").val()
		},
		url : "{:__URL('__URL__/NsDiyView/ADMIN_MODULE/config/wapCustomTemplateList')}",
		success : function(data){
			if(data['data'].length>0){
				$("#list").empty();
				for(var i=0;i<data['data'].length;i++){
					var html = "";
					var curr = data['data'][i];
					html += '<tr>';
						html += '<td align="center"><i class="checkbox-common"><input type="checkbox" name="sub" value="' + curr.id + '"></i></td>';
						html += '<td align="left">' + curr.template_name + '</td>';
						html += '<td align="center">' + (curr.type == 1 ? '手机端' : '小程序端') + '</td>';
						html += '<td align="center">' + timeStampTurnTime(curr.create_time) + '</td>';//curr.modify_time
						html += '<td align="center">';
							html += '<a href=\'{:__URL("__URL__/NsDiyView/ADMIN_MODULE/config/wapCustomTemplateEdit?id=' + curr.id + '&type=' + curr.type + '")}\'>编辑</a>';
							
							html += '<a href="javascript:deleteCustomTemplateById(' + curr.id + ');">删除</a>';
							if(curr.is_default == 1 && curr.template_type != ''){
								html += '<span href="javascript:;" style="color:rgb(153, 153, 153);margin-left:8px;">'+curr.template_type_name+'</span>';
							}else{
								html += '<a href="javascript:showSetPage(' + curr.id + ');">设为</a>';
							}
						html += '</td>';
					html += '</tr>';
					$("#list").append(html);
				}
			}else{
				var html = '<tr align="center"><td colspan="5" style="text-align: center;font-weight: normal;color: #999;">暂无符合条件的数据记录</td></tr>';
				$("#list").html(html);
			}
			initPageData(data["page_count"],data['data'].length,data['total_count']);
			$("#pageNumber").html(pagenumShow(jumpNumber,$("#page_count").val(),{$pageshow}));
		}
	});
}

function deleteCustomTemplateById(id){

	$( "#dialog" ).dialog({
		buttons: {
			"确定": function() {
				$.ajax({
					type : "post",
					url : "{:__URL('__URL__/NsDiyView/ADMIN_MODULE/config/deleteWapCustomTemplateById')}",
					data : { "id" : id.toString() },
					success : function(data) {
						if(data["code"] > 0 ){
							LoadingInfo(getCurrentIndex(id,'#list'));
							showTip(data["message"],"success");
						}else{
							showTip(data["message"],"error");
						}
					}
				});
				$(this).dialog('close');
			},
			"取消,#f5f5f5,#666": function() {
				$(this).dialog('close');
			},
		},
		contentText:"确定要删除吗？",
	});
}

//全选
function CheckAll(event){
	var checked = event.checked;
	$("#list input[type = 'checkbox']").prop("checked",checked);
	if(checked) $("#list input[type = 'checkbox']").parent().addClass("selected");
	else $("#list input[type = 'checkbox']").parent().removeClass("selected");
}

/**
 * 批量删除
 */
function batchDelete() {
	var custom_template_id_array= new Array();
	$("#list input[type='checkbox']:checked").each(function() {
		if (!isNaN($(this).val())) {
			custom_template_id_array.push($(this).val());
		}
	});
	if(custom_template_id_array.length ==0){
		$( "#dialog" ).dialog({
			buttons: {
				"确定,#0059d6,#fff": function() {
					$(this).dialog('close');
				}
			},
			contentText:"请选择需要操作的记录",
			title:"消息提醒",
		});
		return false;
	}
	deleteCustomTemplateById(custom_template_id_array);
}

/**
 * 设置默认手机端自定义模板
 */
function setDefaultCustomTemplate(id){
    var type = $('#type').val();
	$.ajax({
		type : "post",
		url : "{:__URL('__URL__/NsDiyView/ADMIN_MODULE/config/setDefaultWapCustomTemplate')}",
		data : {
		    "id" : id ,
			type: type
		},
		success : function(res){
			if(res["code"]>0){
				LoadingInfo(getCurrentIndex(id,'#list'));
				showTip(res["message"],"success");
			}else{
				showTip(res["message"],"error");
			}
		}
	});
}

function searchData(){
	LoadingInfo(1);
}

/**
 * 开启关闭自定义模板
 * 创建时间：2017年8月15日 11:19:44 
 * 更新时间：2017年8月9日 15:27:32
 */
$(".js-status").click(function(){
	var is_enable = $(this).is(":checked") ? 0 : 1;
	$.ajax({
		type : "post",
		url : "{:__URL('__URL__/NsDiyView/ADMIN_MODULE/config/setIsEnableWapCustomTemplate')}",
		data : { "is_enable" : is_enable },
		success : function(res){
			if(res.code>0){
				LoadingInfo(1);
				showTip(res.message,"success");
			}else{
				showTip(res.message,"error");
			}
		}
	});
});
</script>
{/block}