.floor-one{margin-top: 20px; width: 1200px; position: relative;}
.floor-one .color-mark{display: inline-block; width: 5px; height: 18px; vertical-align: middle;}
.floor-one .floor-name{display: inline-block; vertical-align: middle; font-size: 18px; height: 28px;}
.floor-one .floor-name .floor-title{margin-left: 10px; margin-right: 10px; vertical-align: middle;}
.floor-one .floor-item-title{width: 185px; height: 40px; font-size: 14px; line-height: 20px; overflow: hidden; margin: 8px auto;}
.floor-one .floor-price{font-size: 18px;line-height: 18px; height: 18px; margin: 10px auto; width: 185px;}
.floor-one .floor-sub-name{display: inline-block; font-size: 14px; margin-left: 10px; line-height: 24px; height: 18px;}
.floor-one .line-body{width: 100%; height: 618px; margin-top: 10px; overflow: hidden;}
.floor-one .hot-word-con{position: absolute; top: 0; right: 0; width: 800px; text-align: right;}
.floor-one .hot-word{display: inline-block; height: 20px; line-height: 20px; margin: 5px 10px; font-size: 14px; border: none; border-bottom: 1px solid #f5f5f5;}
.floor-one .hot-word:hover{border-bottom: 1px solid;}
.floor-one .big-banner-con-2{float: left; position: relative; width: 235px; height: 618px;}
.floor-one .big-banner-con-2 a{display: block; position: relative;}
.floor-one .big-banner-con-2 img, .line-body .big-banner-con-2 .img-skeleton-screen{display: block; width: 100%; height: 618px; -webkit-transition: opacity .3s ease-out; -moz-transition: opacity .3s ease-out; -o-transition: opacity .3s ease-out; transition: opacity .3s ease-out;}
.floor-one .big-banner-con-2:hover img{opacity: .7; filter: alpha(opacity=70);}
.floor-one .banner-detail{position: absolute; vertical-align: middle; bottom: 20%; width: 218px; height: 64px;}
.floor-one .banner-detail .left-title-wrap{width: 70px; height: 64px; overflow: hidden; color: #FFF; text-align: center; display: table-cell; vertical-align: middle;}
.floor-one .banner-detail .left-title-wrap .left-title{display: inline-block; vertical-align: middle; line-height: 24px; font-size: 18px; width: 36px; overflow: hidden; text-overflow: ellipsis;}
.floor-one .banner-detail .right-title-wrap{left: 70px; top: 0; position: absolute; background: rgba(0, 0, 0, .6); overflow: hidden; width: 128px; height: 64px; color: #FFF; vertical-align: middle;}
.floor-one .banner-detail .right-title-wrap .right-title-absolute{margin-top: 8px; margin-left: 14px;}
.floor-one .banner-detail .right-title-wrap .right-title-absolute .right-title{overflow: hidden; display: block; width: 110px; text-overflow: ellipsis; white-space: nowrap; line-height: 24px; font-size: 18px;}
.floor-one .middle-column-con{height: 618px;overflow: hidden; margin-left: 245px;}
.floor-one .grid.one-grid-price{width: 230px; height: 295px; margin-left: 9px; margin-top: 10px; text-align: center;}
.floor-one .grid.one-grid-price:nth-child(4n+1){margin-left: 0;}
.floor-one .grid{float: left; display: block; position: relative; background-color: unset;}
.floor-one .grid:hover .floor-item-content-wrap.border{border: 1px solid;}
.floor-one .floor-item-content-wrap{width: 228px; padding-top: 20px; border: 1px solid unset;}
.floor-one .grid.one-grid-price img, .line-body .grid.one-grid-price .floor-item-img{width: 185px; height: 185px; margin: 0 auto;}
.floor-one .grid img{z-index: 1; -o-transition: right .3s; -moz-transition: right .3s; -webkit-transition: right .3s; -ms-transition: right .3s; transition: right .3s;}
.floor-one .skeleton-screen{background-color: #f0f3ef !important;}