{extend name="admin/base" /}
{block name="resources"}
<style>
.ns-main {margin-top:0;}
.fa-refresh {margin-right: 5px;}
.table-class button {outline: none;}
.table-class button.btn-common-white {cursor: not-allowed}
.explain {font-size: 12px;color: #00A0DE;margin-bottom: 0;}
.mark {color :red;}
</style>
{/block}
{block name="main"}
<div class="space-10"></div>
<table class="table-class">
	<colgroup>
		<col width="2%">
		<col width="11%">
		<col width="70%">
		<col width="17%">
	</colgroup>
	<thead>
		<tr>
			<th></th>
			<th align="left">更新项目</th>
			<th align="center">说明</th>
			<th align="center">操作</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>数据表缓存</td>
			<td>	
				<p class="explain">数据表缓存是针对系统<span class="mark">数据表结构</span>进行缓存，这样系统查询就不用进行数据表字段查询，这样大大提高了系统数据库的执行效率，注意：<span class="mark">缓存不会安装后自动生成，系统安装之后要手动生成缓存提升系统执行效率，升级每次进行数据库升级尤其是进行了数据表的修改一定要进行更新缓存。</span></p>
			</td>
			<td style="text-align: center;"><button class="btn-common" onclick="renewCache(this, 'table')">更新</button></td>
		</tr>
		<tr>
			<td></td>
			<td>类库缓存</td>
			<td>
				<p class="explain">类库缓存是将系统命名空间中<span class="mark">类文件</span>进行整体换缓存，这样命名空间加载不用进行文件查询直接加载即可，可以大大提高文件的加载效率，注意：<span class="mark">缓存不会安装自动生成，系统安装之后要手动生成缓存提升系统执行效率，每次升级之后要手动更新缓存。</span></p>
			</td>
			<td style="text-align: center;"><button class="btn-common" onclick="renewCache(this, 'class')">更新</button></td>
		</tr>
	</tbody>	
</table>

<script>
function renewCache(event, type){
	if($(event).hasClass('btn-common-white')) return;
	switch (type){
		case 'table':
			var url = '{:__URL("ADMIN_MAIN/config/tableCache")}';
		break;
		case 'class':
			var url = '{:__URL("ADMIN_MAIN/config/classCache")}';
		break;
	}
	$.ajax({
		url: url,
		type: 'post',
		beforeSend : function(){
			$(event).attr('class', 'btn-common-white').html('<i class="fa fa-refresh fa-spin"></i>更新中...');
		},
		success : function(res){
			if(res.code > 0){
				showTip('更新成功', "success");			
			}else{
				showTip(res.message, "success");
			}
			$(event).attr('class', 'btn-common').html('更新');
		}
	})	
}
</script>
{/block}
