{extend name="$base" /}
{block name="resources"}{/block}
{block name="main"}
<div class="set-style">
	<dl>
		<dt><span class="required">*</span>用户名：</dt>
		<dd>
			<p><input class="input-common" id="admin_name" type="text"></p>
			<p class="error">请输入用户名</p>
			<p class="error">用户名不能包含特殊字符</p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required">*</span>密码：</dt>
		<dd>
			<p><input class="input-common" id="user_password" type="password"></p>
			<p class="error">请输入密码</p>
		</dd>
	</dl>
	<dl>
		<dt><span class="required">*</span>所属用户组：</dt>
		<dd>
			<p>
				<select class="select-common" id="group_id">
					<option value="-1">请选择用户组</option>
					{foreach name="auth_group" item="v1"}
					<option value="{$v1['group_id']}">&nbsp;&nbsp;{$v1['group_name']}</option>
					{/foreach}
				</select>
			</p>
			<p class="error">请选择用户组</p>
		</dd>
	</dl>
	<dl>
		<dt>描述：</dt>
		<dd>
			<p><textarea id="desc" class="textarea-common"></textarea></p>
			<p class="error">请输入描述信息</p>
		</dd>
	</dl>
	<dl>
		<dt></dt>
		<dd>
			<button class="btn-common btn-big" onclick="addUserAjax()">保存</button>
			<button class="btn-common-cancle btn-big" onclick="javascript:history.back(-1);" >返回</button>
		</dd>
	</dl>
</div>
<script>
//模块输入信息验证
function verify() {
	var admin_name = $("#admin_name").val();
	var group_id = $("#group_id").val();
	var user_password = $("#user_password").val();
	var desc = $("#desc").val();
	if (admin_name == '') {
		$("#admin_name").parents("dd").find(".error").eq(0).show();
		return false;
	} else {
		$(".error").hide();
	}
	pattern= new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？_]");
	if(pattern.test(admin_name)){
		$("#admin_name").parents("dd").find(".error").eq(1).show();
		return false;
	}
	if (user_password == '') {
		$("#user_password").parents("dd").find(".error").show();
		return false;
	} else {
		$(".error").hide();
	}
	if(group_id == -1){
		$("#group_id").parents("dd").find(".error").show();
		return false;
	}else{
		$(".error").hide();
	}
	return true;
}

var flag = false;//防止重复提交
//添加用户
function addUserAjax() {
	var admin_name = $("#admin_name").val();
	var group_id = $("#group_id").val();
	var user_password = $("#user_password").val();
	var desc = $("#desc").val();
	if(verify() && !flag){
		flag = true;
		$.ajax({
			type : "post",
			url : "{:__URL('ADMIN_MAIN/auth/adduser')}",
			data : {
				'admin_name' : admin_name,
				'group_id' : group_id,
				'user_password' : user_password,
				'desc' : desc
			},
			success : function(data) {
				if (data['code'] > 0) {
					showTip(data["message"],'success');
					location.href = "{:__URL('ADMIN_MAIN/auth/userlist')}";
				} else {
					flag = false;
					showTip(data["message"],'error');
				}
			}
		});
	}
}
</script>
{/block}