@CHARSET "UTF-8";
@font-face {
  font-family: 'anticon';
  src: url('https://at.alicdn.com/t/font_r5u29ls31bgldi.eot');
  /* IE9*/
  src: url('https://at.alicdn.com/t/font_r5u29ls31bgldi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://at.alicdn.com/t/font_r5u29ls31bgldi.woff') format('woff'), /* chrome、firefox */ url('https://at.alicdn.com/t/font_r5u29ls31bgldi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_r5u29ls31bgldi.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.anticon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.anticon:before {
  display: block;
  font-family: "anticon" !important;
}
.anticon-step-forward:before {
  content: "\E600";
}
.anticon-step-backward:before {
  content: "\E601";
}
.anticon-forward:before {
  content: "\E602";
}
.anticon-backward:before {
  content: "\E603";
}
.anticon-caret-right:before {
  content: "\E604";
}
.anticon-caret-left:before {
  content: "\E605";
}
.anticon-caret-down:before {
  content: "\E606";
}
.anticon-caret-up:before {
  content: "\E607";
}
.anticon-right-circle:before {
  content: "\E608";
}
.anticon-circle-right:before {
  content: "\E608";
}
.anticon-caret-circle-right:before {
  content: "\E608";
}
.anticon-left-circle:before {
  content: "\E609";
}
.anticon-circle-left:before {
  content: "\E609";
}
.anticon-caret-circle-left:before {
  content: "\E609";
}
.anticon-up-circle:before {
  content: "\E60A";
}
.anticon-circle-up:before {
  content: "\E60A";
}
.anticon-caret-circle-up:before {
  content: "\E60A";
}
.anticon-down-circle:before {
  content: "\E60B";
}
.anticon-circle-down:before {
  content: "\E60B";
}
.anticon-caret-circle-down:before {
  content: "\E60B";
}
.anticon-right-circle-o:before {
  content: "\E60C";
}
.anticon-circle-o-right:before {
  content: "\E60C";
}
.anticon-caret-circle-o-right:before {
  content: "\E60C";
}
.anticon-left-circle-o:before {
  content: "\E60D";
}
.anticon-circle-o-left:before {
  content: "\E60D";
}
.anticon-caret-circle-o-left:before {
  content: "\E60D";
}
.anticon-up-circle-o:before {
  content: "\E60E";
}
.anticon-circle-o-up:before {
  content: "\E60E";
}
.anticon-caret-circle-o-up:before {
  content: "\E60E";
}
.anticon-down-circle-o:before {
  content: "\E60F";
}
.anticon-circle-o-down:before {
  content: "\E60F";
}
.anticon-caret-circle-o-down:before {
  content: "\E60F";
}
.anticon-verticle-left:before {
  content: "\E610";
}
.anticon-verticle-right:before {
  content: "\E611";
}
.anticon-rollback:before {
  content: "\E612";
}
.anticon-retweet:before {
  content: "\E613";
}
.anticon-shrink:before {
  content: "\E614";
}
.anticon-arrows-alt:before {
  content: "\E615";
}
.anticon-arrow-salt:before {
  content: "\E615";
}
.anticon-reload:before {
  content: "\E616";
}
.anticon-double-right:before {
  content: "\E617";
}
.anticon-double-left:before {
  content: "\E618";
}
.anticon-arrow-down:before {
  content: "\E619";
}
.anticon-arrow-up:before {
  content: "\E61A";
}
.anticon-arrow-right:before {
  content: "\E61B";
}
.anticon-arrow-left:before {
  content: "\E61C";
}
.anticon-down:before {
  content: "\E61D";
}
.anticon-up:before {
  content: "\E61E";
}
.anticon-right:before {
  content: "\E61F";
}
.anticon-left:before {
  content: "\E620";
}
.anticon-minus-square-o:before {
  content: "\E621";
}
.anticon-minus-circle:before {
  content: "\E622";
}
.anticon-minus-circle-o:before {
  content: "\E623";
}
.anticon-minus:before {
  content: "\E624";
}
.anticon-plus-circle-o:before {
  content: "\E625";
}
.anticon-plus-circle:before {
  content: "\E626";
}
.anticon-plus:before {
  content: "\E627";
}
.anticon-info-circle:before {
  content: "\E628";
}
.anticon-info-circle-o:before {
  content: "\E629";
}
.anticon-info:before {
  content: "\E62A";
}
.anticon-exclamation:before {
  content: "\E62B";
}
.anticon-exclamation-circle:before {
  content: "\E62C";
}
.anticon-exclamation-circle-o:before {
  content: "\E62D";
}
.anticon-close-circle:before {
  content: "\E62E";
}
.anticon-cross-circle:before {
  content: "\E62E";
}
.anticon-close-circle-o:before {
  content: "\E62F";
}
.anticon-cross-circle-o:before {
  content: "\E62F";
}
.anticon-check-circle:before {
  content: "\E630";
}
.anticon-check-circle-o:before {
  content: "\E631";
}
.anticon-check:before {
  content: "\E632";
}
.anticon-close:before {
  content: "\E633";
}
.anticon-cross:before {
  content: "\E633";
}
.anticon-customer-service:before {
  content: "\E634";
}
.anticon-customerservice:before {
  content: "\E634";
}
.anticon-credit-card:before {
  content: "\E635";
}
.anticon-code-o:before {
  content: "\E636";
}
.anticon-book:before {
  content: "\E637";
}
.anticon-bar-chart:before {
  content: "\E638";
}
.anticon-bars:before {
  content: "\E639";
}
.anticon-question:before {
  content: "\E63A";
}
.anticon-question-circle:before {
  content: "\E63B";
}
.anticon-question-circle-o:before {
  content: "\E63C";
}
.anticon-pause:before {
  content: "\E63D";
}
.anticon-pause-circle:before {
  content: "\E63E";
}
.anticon-pause-circle-o:before {
  content: "\E63F";
}
.anticon-clock-circle:before {
  content: "\E640";
}
.anticon-clock-circle-o:before {
  content: "\E641";
}
.anticon-swap:before {
  content: "\E642";
}
.anticon-swap-left:before {
  content: "\E643";
}
.anticon-swap-right:before {
  content: "\E644";
}
.anticon-plus-square-o:before {
  content: "\E645";
}
.anticon-frown:before {
  content: "\E646";
}
.anticon-frown-circle:before {
  content: "\E646";
}
.anticon-ellipsis:before {
  content: "\E647";
}
.anticon-copy:before {
  content: "\E648";
}
.anticon-menu-fold:before {
  content: "\E658";
}
.anticon-mail:before {
  content: "\E659";
}
.anticon-logout:before {
  content: "\E65A";
}
.anticon-link:before {
  content: "\E65B";
}
.anticon-area-chart:before {
  content: "\E65C";
}
.anticon-line-chart:before {
  content: "\E65D";
}
.anticon-home:before {
  content: "\E65E";
}
.anticon-laptop:before {
  content: "\E65F";
}
.anticon-star:before {
  content: "\E660";
}
.anticon-star-o:before {
  content: "\E661";
}
.anticon-folder:before {
  content: "\E662";
}
.anticon-filter:before {
  content: "\E663";
}
.anticon-file:before {
  content: "\E664";
}
.anticon-exception:before {
  content: "\E665";
}
.anticon-meh:before {
  content: "\E666";
}
.anticon-meh-circle:before {
  content: "\E666";
}
.anticon-meh-o:before {
  content: "\E667";
}
.anticon-shopping-cart:before {
  content: "\E668";
}
.anticon-save:before {
  content: "\E669";
}
.anticon-user:before {
  content: "\E66A";
}
.anticon-video-camera:before {
  content: "\E66B";
}
.anticon-to-top:before {
  content: "\E66C";
}
.anticon-team:before {
  content: "\E66D";
}
.anticon-tablet:before {
  content: "\E66E";
}
.anticon-solution:before {
  content: "\E66F";
}
.anticon-search:before {
  content: "\E670";
}
.anticon-share-alt:before {
  content: "\E671";
}
.anticon-setting:before {
  content: "\E672";
}
.anticon-poweroff:before {
  content: "\E6D5";
}
.anticon-picture:before {
  content: "\E674";
}
.anticon-phone:before {
  content: "\E675";
}
.anticon-paper-clip:before {
  content: "\E676";
}
.anticon-notification:before {
  content: "\E677";
}
.anticon-mobile:before {
  content: "\E678";
}
.anticon-menu-unfold:before {
  content: "\E679";
}
.anticon-inbox:before {
  content: "\E67A";
}
.anticon-lock:before {
  content: "\E67B";
}
.anticon-qrcode:before {
  content: "\E67C";
}
.anticon-play-circle:before {
  content: "\E6D0";
}
.anticon-play-circle-o:before {
  content: "\E6D1";
}
.anticon-tag:before {
  content: "\E6D2";
}
.anticon-tag-o:before {
  content: "\E6D3";
}
.anticon-tags:before {
  content: "\E67D";
}
.anticon-tags-o:before {
  content: "\E67E";
}
.anticon-cloud-o:before {
  content: "\E67F";
}
.anticon-cloud:before {
  content: "\E680";
}
.anticon-cloud-upload:before {
  content: "\E681";
}
.anticon-cloud-download:before {
  content: "\E682";
}
.anticon-cloud-download-o:before {
  content: "\E683";
}
.anticon-cloud-upload-o:before {
  content: "\E684";
}
.anticon-environment:before {
  content: "\E685";
}
.anticon-environment-o:before {
  content: "\E686";
}
.anticon-eye:before {
  content: "\E687";
}
.anticon-eye-o:before {
  content: "\E688";
}
.anticon-camera:before {
  content: "\E689";
}
.anticon-camera-o:before {
  content: "\E68A";
}
.anticon-windows:before {
  content: "\E68B";
}
.anticon-apple:before {
  content: "\E68C";
}
.anticon-apple-o:before {
  content: "\E6D4";
}
.anticon-android:before {
  content: "\E68D";
}
.anticon-aliwangwang:before {
  content: "\E68E";
}
.anticon-aliwangwang-o:before {
  content: "\E68F";
}
.anticon-export:before {
  content: "\E691";
}
.anticon-edit:before {
  content: "\E692";
}
.anticon-circle-down-o:before {
  content: "\E693";
}
.anticon-circle-down-:before {
  content: "\E694";
}
.anticon-appstore-o:before {
  content: "\E695";
}
.anticon-appstore:before {
  content: "\E696";
}
.anticon-scan:before {
  content: "\E697";
}
.anticon-file-text:before {
  content: "\E698";
}
.anticon-folder-open:before {
  content: "\E699";
}
.anticon-hdd:before {
  content: "\E69A";
}
.anticon-ie:before {
  content: "\E69B";
}
.anticon-file-jpg:before {
  content: "\E69C";
}
.anticon-like:before {
  content: "\E64C";
}
.anticon-like-o:before {
  content: "\E69D";
}
.anticon-dislike:before {
  content: "\E64B";
}
.anticon-dislike-o:before {
  content: "\E69E";
}
.anticon-delete:before {
  content: "\E69F";
}
.anticon-enter:before {
  content: "\E6A0";
}
.anticon-pushpin-o:before {
  content: "\E6A1";
}
.anticon-pushpin:before {
  content: "\E6A2";
}
.anticon-heart:before {
  content: "\E6A3";
}
.anticon-heart-o:before {
  content: "\E6A4";
}
.anticon-pay-circle:before {
  content: "\E6A5";
}
.anticon-pay-circle-o:before {
  content: "\E6A6";
}
.anticon-smile:before {
  content: "\E6A7";
}
.anticon-smile-circle:before {
  content: "\E6A7";
}
.anticon-smile-o:before {
  content: "\E6A8";
}
.anticon-frown-o:before {
  content: "\E6A9";
}
.anticon-calculator:before {
  content: "\E6AA";
}
.anticon-message:before {
  content: "\E6AB";
}
.anticon-chrome:before {
  content: "\E6AC";
}
.anticon-github:before {
  content: "\E6AD";
}
.anticon-file-unknown:before {
  content: "\E6AF";
}
.anticon-file-excel:before {
  content: "\E6B0";
}
.anticon-file-ppt:before {
  content: "\E6B1";
}
.anticon-file-word:before {
  content: "\E6B2";
}
.anticon-file-pdf:before {
  content: "\E6B3";
}
.anticon-desktop:before {
  content: "\E6B4";
}
.anticon-upload:before {
  content: "\E6B6";
}
.anticon-download:before {
  content: "\E6B7";
}
.anticon-pie-chart:before {
  content: "\E6B8";
}
.anticon-unlock:before {
  content: "\E6BA";
}
.anticon-calendar:before {
  content: "\E6BB";
}
.anticon-windows-o:before {
  content: "\E6BC";
}
.anticon-dot-chart:before {
  content: "\E6BD";
}
.anticon-bar-chart:before {
  content: "\E6BE";
}
.anticon-code:before {
  content: "\E6BF";
}
.anticon-plus-square:before {
  content: "\E6C0";
}
.anticon-minus-square:before {
  content: "\E6C1";
}
.anticon-close-square:before {
  content: "\E6C2";
}
.anticon-close-square-o:before {
  content: "\E6C3";
}
.anticon-check-square:before {
  content: "\E6C4";
}
.anticon-check-square-o:before {
  content: "\E6C5";
}
.anticon-fast-backward:before {
  content: "\E6C6";
}
.anticon-fast-forward:before {
  content: "\E6C7";
}
.anticon-up-square:before {
  content: "\E6C8";
}
.anticon-down-square:before {
  content: "\E6C9";
}
.anticon-left-square:before {
  content: "\E6CA";
}
.anticon-right-square:before {
  content: "\E6CB";
}
.anticon-right-square-o:before {
  content: "\E6CC";
}
.anticon-left-square-o:before {
  content: "\E6CD";
}
.anticon-down-square-o:before {
  content: "\E6CE";
}
.anticon-up-square-o:before {
  content: "\E6CF";
}
.anticon-loading:before {
  content: "\E64D";
}
.anticon-loading-3-quarters:before {
  content: "\E6AE";
}
.anticon-bulb:before {
  content: "\E649";
}
.anticon-select:before {
  content: "\E64A";
}
.anticon-addfile:before {
  content: "\E910";
}
.anticon-addfolder:before {
  content: "\E914";
}
.anticon-switcher:before {
  content: "\E913";
}
.anticon-rocket:before {
  content: "\E90F";
}
.anticon-dingding:before {
  content: "\E923";
}
.anticon-dingding-o:before {
  content: "\E925";
}
.anticon-spin:before {
  display: inline-block;
  animation: loadingCircle 1s infinite linear;
}

.anticon-eye-o,.anticon-delete {
    position: absolute;
    left: 60%;
    top: 50%;
    z-index: 10;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 16px;
    width: 16px;
    line-height: 1;
    color: #eee;
    opacity: 0;
    margin-top: -8px;
    margin-left: -22px;
}
.anticon-delete{left: 39%;
    margin-left: 6px;}