@charset "utf-8";
.custom-template {
    margin: 0 10px 10px 0;
    border: 1px solid #e5e5e5;
    background: #F8F8F8;
    position: relative;
    float: left;
}

.custom-template.wap {
    width: 320px;
}

.custom-template.wap header {
    position: relative;
    cursor: pointer;
}

.custom-template.wap header > img {
    width: 100%;
}

.custom-template.wap header > h4 {
    position: absolute;
    left: 50%;
    top: 25px;
    color: #ffffff;
    margin: 0 0 0 -30px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 170px;
}

.custom-template.wap .preview {
    height: 621px;
    position: relative;
    background: #fff url("../images/wap_color_scheme_tpl.png") no-repeat center;
}

.custom-template.wap .preview .price {
    height: 36px;
    line-height: 36px;
    position: absolute;
    top: 375px;
    left: 10px;
}

.custom-template.wap .preview .price .price-symbol {
    font-size: 18px;
    position: relative;
    top: 2px;
    font-style: normal;
}

.custom-template.wap .preview .price span {
    font-size: 24px;
    position: relative;
    top: 2px;
}

.custom-template.wap .preview .coupon {
    color: #fff;
    font-size: 14px;
    padding: 1px 3px;
    border-radius: 2px;
    font-style: normal;
    position: absolute;
    top: 439px;
    left: 10px;
    line-height: initial;
}

.custom-template.wap .preview button {
    position: absolute;
    border: 0;
    font-size: 15px;
    vertical-align: top;
    height: 50px;
    float: left;
    line-height: 50px;
    color: #fff;
}

.custom-template.wap .preview .add-to-cart {
    bottom: 0;
    right: 80px;
    width: 90px;
}

.custom-template.wap .preview .buy-now {
    right: 0;
    bottom: 0;
    width: 80px;
}

.custom-template.web {
    width: 1050px;
}

.custom-template.web .preview {
    height: 515px;
    position: relative;
    background: #fff url("../images/web_color_scheme_tpl.png") no-repeat center;
}

.custom-template.web .preview .price-wrap {
    height: 36px;
    line-height: 36px;
    position: absolute;
    top: 84px;
    left: 473px;
}

.custom-template.web .preview em {
    font-size: 18px;
    font-style: normal;
}

.custom-template.web .preview .promotion-price {
    font-size: 28px;
    font-weight: bold;
}

.custom-template.web .preview .original-price {
    font-size: 12px;
    margin-left: 5px;
    text-decoration: line-through;
}

.custom-template.web .preview .coupon {
    padding: 2px 6px;
    font-size: 12px;
    border: 1px dotted;
    margin-right: 5px;
    cursor: pointer;
    position: absolute;
    top: 127px;
    left: 473px;
    line-height: initial;
}

.custom-template.web .preview .evaluate-count {
    position: absolute;
    top: 110px;
    left: 835px;
}

.custom-template.web .preview .sale-count {
    position: absolute;
    top: 110px;
    left: 955px;
}

.custom-template.web .preview .website-name {
    position: absolute;
    top: 205px;
    left: 490px;
    font-size: 12px;
}

.custom-template.web .preview button {
    width: 180px;
    height: 40px;
    margin-right: 10px;
    font-size: 16px;
    text-shadow: 0 0 0;
    border: 1px solid;
    background: #fff none;
    border-radius: 0;
}

.custom-template.web .preview .buy-now {
    position: absolute;
    top: 320px;
    left: 473px;
}

.custom-template.web .preview .add-cart {
    position: absolute;
    top: 320px;
    left: 670px;
}

.color-scheme {
    overflow: hidden;
    width: 80%;
    margin-top: 7px;
}

.color-scheme li {
    border: 1px solid #e9e9e9;
    cursor: pointer;
    font-size: 0;
    float: left;
    line-height: initial;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 2px;
}

.color-scheme li.selected {
    border-color: #00A0DE;
}

.color-scheme li span {
    display: inline-block;
    width: 20px;
    height: 20px;
}