body{font-size: 14px;}
.text12{font-size: 12px;}
.text14{font-size: 14px;}
.text16{font-size: 16px;}
.text18{font-size: 18px;}
.text20{font-size: 20px;}
.text22{font-size: 22px;}
.padding10{padding: 10px;}
.w1200{width: 1200px; margin: 0 auto;}
button, input, .form-control{border-radius: 0 !important; outline: none !important;}
input.form-control{display: inline-block;}
.form-control:focus{box-shadow: none;}
.btn{outline: none;}
.w60{width: 60px !important;}
.w100{width: 100px !important;}
.w150{width: 150px !important;}
.w200{width: 200px !important;}
.w500{width: 500px !important;}
label{font-weight: normal;}
.nav-tabs > li > a{border-radius: 0;}
a:focus{outline: none;}

/******************************头部******************************/
.ns-header{background: #ffffff;}
.ns-header .top-bar{height: 30px; background: #f2f2f2; border-bottom: 1px solid; line-height: 30px;}
.ns-header .top-bar .pull-left a:first-child{margin-right: 5px;}
.ns-header .top-bar ul li{float: left; padding: 0 10px; position: relative;}
.ns-header .top-bar ul li:after{content: ''; position: absolute; border-left: 1px solid; height: 10px; top: 50%; right: 0; margin-top: -5px;}
.ns-header .top-bar ul li:last-child:after{border: 0;}
.ns-header .top-bar ul li.focus div{position: absolute; width: 120px; height: 125px; background: #fff; left: 0; top: 30px; text-align: center; opacity: .99; filter: alpha(opacity=99); z-index: 93110; border: 1px solid; display: none;}
.ns-header .top-bar ul li.focus:hover{background: #fff;}
.ns-header .top-bar ul li.focus:hover:after{border-left: 1px solid #fff;}
.ns-header .top-bar ul li.focus:hover div{display: block;}
.ns-header .top-bar ul li.focus div a{display: block; width: 120px; height: 100px; padding: 0 10px; line-height: 100px; text-align: center;}
.ns-header .top-bar ul li.focus span{height: 5px; background-color: #fff; position: absolute; top: -5px; display: inline-block; width: 100%; right: 0;}
.ns-header .top-bar ul li.focus p{width: 85px; height: 20px; line-height: 20px; margin: 0 auto; font-size: 14px; text-align: center;}

.ns-header .middle{padding-top: 30px; height: 120px;}
.ns-header .middle .ns-logo{width: 160px; height: 60px; line-height: 60px; float: left;}
.ns-header .middle .ns-logo-right{width: 140px; height: 90px; line-height: 90px; float: left; margin-left: 30px;}

/******************************搜索******************************/
.ns-header .middle .ns-search{float: left; width: 500px; margin-left: 80px;}
.ns-header .middle .ns-search input{float: left; width: 404px; height: 34px; line-height: 34px; padding: 0 10px; font-size: 14px; border: 2px solid;}
.ns-header .middle .ns-search button{float: left; width: 96px; height: 34px; line-height: 34px; font-size: 16px; text-align: center; padding: 0; border: 0;}
.ns-header .middle .ns-search .keyword{padding-top: 4px; height: 50px; overflow: hidden;}
.ns-header .middle .ns-search .keyword a{float: left; line-height: 24px; margin-right: 15px; font-size: 12px;}

/******************************购物车******************************/
.ns-header .middle .ns-cart{float: right; width: 190px; height: 35px; background-color: #fff; line-height: 35px; position: relative; z-index: 1; border: 1px solid; cursor: pointer;}
.ns-header .middle .ns-cart .cart{text-align: center;}
.ns-header .middle .ns-cart .icon-shopping-cart{font-size: 16px; margin-right: 3px;}
.ns-header .middle .ns-cart .shopping-amount{position: absolute; top: 5px; left: 140px; right: auto; display: inline-block; padding: 1px; font-size: 12px; line-height: 12px; color: #fff; -moz-border-radius: 7px; border-radius: 7px; min-width: 12px; text-align: center; font-style: normal;}
.ns-header .middle .ns-cart .list{position: absolute; top: 32px; right: -1px; width: 340px; background: #fff; border: 1px solid; display: none; padding: 0;}
.ns-header .middle .ns-cart .list .empty{width: auto; height: 80px; line-height: 80px; text-align: center;}
.ns-header .middle .ns-cart .list .empty span:after{content: ' '; display: inline-block; width: 32px; height: 32px; background: url(../img/top_shopping_empty.png) no-repeat; position: absolute; top: 50%; left: -50px; vertical-align: middle; margin-top: -16px;}
.ns-header .middle .ns-cart .list .empty span{display: inline-block; font-size: 12px; padding-right: 20px; position: relative; float: right;}
.ns-header .middle .ns-cart .list .mn-c-box{position: relative; padding: 10px 0 0;}
.ns-header .middle .ns-cart .list .item{background-color: #fff; display: block; font-size: 12px; padding: 10px; position: relative; border-bottom: 1px solid; overflow: hidden;}
.ns-header .middle .ns-cart .list .item .goods-name{display: block; width: 235px; height: 15px; line-height: 15px; overflow: hidden; margin-bottom: 6px;}
.ns-header .middle .ns-cart .list .item p{line-height: initial;}
.ns-header .middle .ns-cart .list .del{position: absolute; cursor: pointer; width: 16px; height: 16px; line-height: 16px; text-align: center; top: 5px; right: 10px;}
.ns-header .middle .ns-cart .list .goods-pic{width: 50px; height: 50px; margin-right: 5px; overflow: hidden; float: left; text-align: center; line-height: 50px;}
.ns-header .middle .ns-cart .list .goods-pic > img{width: 100%; height: inherit;}
.ns-header .middle .ns-cart .list .total{padding: 10px; background: #f7f7f7;}
.ns-header .middle .ns-cart .list .total a{display: block; width: 94px; height: 28px; line-height: 28px; text-align: center; font-size: 12px; color: #fff !important; float: right; margin: 4px 0;}
.ns-header .middle .ns-cart:hover .cart{position: absolute; width: 100%; z-index: 10; background: #fff;}
.ns-header .middle .ns-cart:hover .list{display: block; padding: 0;}

/******************************商品分类******************************/
.ns-header > nav .category{float: left; position: relative; z-index: 999; height: 40px;}
.ns-header > nav .category .all{display: block; width: 210px; padding-left: 30px; height: 40px; line-height: 40px; font-size: 16px;}
.ns-header > nav .category .all a > i{margin-right: 10px;}
.ns-header > nav .category .all > a, .ns-header > nav .category .all > a:hover{color: #fff !important;}
.ns-header > nav .category > ul{height: 440px; display: none; margin: 0; padding: 0;}
.ns-header > nav .category:hover > ul{display: block;}
.ns-header > nav .category > ul li.active .item-left{background: #fff; border-bottom-color: #fff; position: relative; z-index: 9999;}
.ns-header > nav .category > ul li.active .item-left i{display: none;}
.ns-header > nav .category > ul li .item-left{padding: 6px 10px;}
.ns-header > nav .category > ul li .item-left a{display: block; vertical-align: top; margin-right: 5px; line-height: 28px; font-size: 14px; color: #fff;}
.ns-header > nav .category > ul li .item-left a img{margin-right: 5px; width: 20px; height: 20px; object-fit: cover;}
.ns-header > nav .category > ul li .item-left i{float: right; margin-top: 5px; color: #fff; font-size: 18px;}
.ns-header > nav .category > ul li .second-child{display: none; position: absolute; top: 40px; left: 210px; width: 760px; height: 440px; overflow: hidden; border: 1px solid; background: #fff; z-index: 999; overflow-y: scroll; /*-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18);*/ /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18);*/}
.ns-header > nav .category > ul li .second-child::-webkit-scrollbar{width: 2px; height: 2px;}
.ns-header > nav .category > ul li.active .second-child{display: block;}
.ns-header > nav .category > ul li .second-child li{float: left; padding: 12px 20px; line-height: 40px; width: 189px; height: 73px;}
.ns-header > nav .category > ul li .second-child li a{display: block;}
.ns-header > nav .category > ul li .second-child li > a{float: left;}
.ns-header > nav .category > ul li .second-child li.empty-img > a{float: left; width: 90px; height: 30px; line-height: 30px;}
.ns-header > nav .category > ul li .second-child li img{width: 40px; height: 40px; float: left; object-fit: cover;}
.ns-header > nav .category > ul li .second-child li span{float: left; height: 40px; margin-left: 10px; line-height: 40px; overflow: hidden;}
.ns-header > nav .category > ul li .second-child li.empty-img{height: 49px; padding: 10px 20px; line-height: 30px;}
.ns-header > nav .category > ul li .second-child.have-third-child > li.empty-img .third-child span{margin-left: 5px; width: 75px; overflow: hidden; white-space: nowrap; display: inline-block; text-overflow: ellipsis;}
.ns-header > nav .category > ul li .second-child.have-third-child > li.empty-img .third-child.empty-img span{margin: 0; width: auto;}
.ns-header > nav .category > ul li .second-child li.empty-img > a > span{float: left; text-align: left; margin-left: 0; width: 70px; height: 30px; font-weight: 700;}
.ns-header > nav .category > ul li .second-child li.empty-img > a > i{margin-left: 10px; font-size: 18px; font-weight: 700;}
.ns-header > nav .category > ul li .second-child.have-third-child li{width: 160px; height: 67px;}
.ns-header > nav .category > ul li .second-child.have-third-child > li{overflow: hidden; float: none; width: initial; height: initial; padding: 12px 20px 0;}
.ns-header > nav .category > ul li .second-child.have-third-child .third-child{float: left; overflow: hidden; margin-left: 20px;}
.ns-header > nav .category > ul li .second-child.have-third-child .third-child.empty-img{float: left; overflow: hidden; width: 590px; margin-left: 20px; border-bottom: 1px dashed; padding-bottom: 8px;}
.ns-header > nav .category > ul li .second-child.have-third-child > li.empty-img span{text-align: left; height: 30px; margin: 0; line-height: 30px;}
.ns-header > nav .category > ul li .second-child.have-third-child .third-child.empty-img li{width: auto; height: 30px; padding: 0 5px; box-sizing: content-box;}

/******************************导航菜单******************************/
.ns-header > nav .menu{margin-left: 235px; overflow: hidden; height: 40px; margin-bottom: 0; padding: 0;}
.ns-header > nav .menu li{float: left; margin: 0 8px;}
.ns-header > nav .menu li a{display: inline-block; padding: 0 8px; font-size: 16px; line-height: 38px; border-bottom: 2px solid transparent;}

/******************************右侧******************************/
.right-sidebar{position: fixed; top: 0; right: 0; z-index: 9990; width: 0; height: 100%;}
.right-sidebar .toolbar{position: absolute; right: 0; top: 0; width: 0; height: 100%; border-left: 6px solid #7a6e6e; -webkit-transition: right .3s ease-in-out 0s; transition: right .3s ease-in-out 0s; z-index: 2;}
.right-sidebar .menu{position: absolute; top: 50%; left: -35px; width: 35px; margin-top: -90px;}
.right-sidebar .menu.back-top{top: unset; bottom: -1px;}
.right-sidebar .menu > a{position: relative; display: block;}
.right-sidebar .menu > a .icon{font-size: 20px;}
.right-sidebar .menu .text{width: 0; height: 35px; line-height: 35px; color: #fff; text-align: center; position: absolute; z-index: 1; left: 10px; top: 0; border-radius: 3px 0 0 3px; -webkit-transition: left .3s ease-in-out .1s, width .3s ease-in-out .1s; transition: left .3s ease-in-out .1s, width .3s ease-in-out .1s; visibility: hidden; white-space: nowrap;}
.right-sidebar .menu .text-hover{left: -60px !important; visibility: unset; width: 62px;}
.right-sidebar .menu .qrcode{width: 158px; height: 158px; left: -160px !important; top: -61px; background: #fff !important; padding: 4px; border: 1px solid;}
.right-sidebar .menu .qrcode img{width: 150px; height: 150px;}
.right-sidebar .menu .item-icon-box{position: relative; width: 35px; height: 35px; margin-bottom: 1px; cursor: pointer; border-radius: 3px 0 0 3px; padding-top: 8px; text-align: center; color: #fff; z-index: 5; background-color: #7a6e6e;}
.right-sidebar .menu .sidebar-num{position: absolute; z-index: 3; right: 2px; top: 2px; height: 13px; padding: 1px 2px; overflow: hidden; color: #fff; font: 11px/11px verdana; text-align: center; min-width: 11px; border-radius: 10px; background: #fff;}

/******************************底部******************************/
.ns-footer{background: #fff; margin-top: 40px; padding: 20px 0 40px; clear: both;}
.ns-footer .service{margin-top: 40px; border-top: 1px solid; border-bottom: 1px solid; padding: 27px 0; background-color: #fff; margin-bottom: 20px;}
.ns-footer .service li{float: left; width: 300px; height: 56px; text-align: center;}
.ns-footer .service li + li{border-left: 1px solid;}
.ns-footer .service li i{display: inline-block; width: 30px; height: 30px; text-align: center; margin-top: 14px;}
.ns-footer .service li p{display: inline-block; line-height: 56px; font-size: 18px; vertical-align: top;}
.ns-footer .help{padding-bottom: 10px; position: relative;}
.ns-footer .help .list{width: 1024px; padding: 0;}
.ns-footer .help .list .wrap{min-height: 160px;}
.ns-footer .help .list dl{float: left; width: 200px; margin-right: 4px;}
.ns-footer .help .list dl dt{height: 30px; line-height: 30px; font-size: 18px; font-weight: normal;}
.ns-footer .help .list dl dd{font-size: 14px; line-height: 25px;}
.ns-footer .help .list dl dd a{font-size: 12px;}
.ns-footer .help-qrcode{position: absolute; right: -190px; top: 0; width: 120px; height: 120px;}
.ns-footer .help-qrcode > img{width: 100%; height: 100%;}

.friendship-links{padding-top: 10px; line-height: 20px;}
.friendship-links > span{float: left; width: 70px; font-weight: bold;}
.links-wrap{float: left; width: 850px;}
.links-wrap > a{float: left; padding: 0 10px;}

.ns-footer .help .contact-us{margin-left: 1044px;}
.ns-footer .help .contact-us h3{font-weight: normal; height: 30px; line-height: 30px; font-size: 18px; margin: 0;}
.ns-footer .help .contact-us .phone{display: block; height: 40px; line-height: 40px; font-size: 18px;}

.ns-copyright{text-align: center; padding: 30px 0; display: none;}
.ns-copyright p{padding: 10px 0 0;}
.ns-copyright img{width: 20px; height: 20px;}
.ns-copyright p span{vertical-align: middle;}

/*分页*/
.pager{float: right; margin-bottom: 0;}
.pager-item-right > a{border-radius: 0;}
.pager > li:first-child > a, .pager > li:first-child > span{border-radius: 0;}

/*面包屑*/
.breadcrumb{padding: 10px 0;margin-bottom: 0;}

.go-mobile{position: fixed;right: 0;bottom: 15%;z-index: 999999;}

.align-center{text-align: center;}
.align-right{text-align: right;}
.align-left{text-align: left;}

/*图片自适应*/
.self-adaption-img{height: auto;width: auto;max-height: 100%;max-width: 100%;display: inline-block;}
.mask-layer{position: fixed;display: none;top: 0;left: 0;z-index: 9991;width: 100%;height: 100%;background: rgba(0, 0, 0, .6);}