.cart-list{margin-top: 20px;}
.cart-list>.cart-head{overflow: hidden; height: 40px; border: 1px solid #e9e9e9; background-color: #f3f3f3; line-height: 40px;}
.cart-head > li{float: left; text-align: center;}
.cart-head > li:nth-child(1){width: 40%;}
.cart-head > li:nth-child(2){width: 15%;}
.cart-head > li:nth-child(3){width: 15%;}
.cart-head > li:nth-child(4){width: 15%;}
.cart-head > li:nth-child(5){width: 15%;}
.cart-check{float: left; margin-left: 15px;}
.cart-check > input{vertical-align: middle; margin: 0;}
.cart-list .list-item{height: initial; border:1px solid;border-top: none;padding-top: 20px;overflow: hidden;}
.list-item > li > input{float: left; margin-left: 15px;}
.list-item > li:nth-child(1){text-align: initial;}
.list-item > li .item-pic{display: inline-block; width: 80px; height: 80px; border: 1px solid; margin: 0 15px;}
.list-item > li .item-pic > img{display: block; width: 80px; height: 80px;}
.list-item > li .item-text{overflow: hidden; display: inline-block; height: 40px; width: 330px; line-height: initial; text-align: initial; vertical-align: top;}
.list-item > li .sku-name{overflow: hidden; display: inline-block; width: 330px; height: 30px; margin-left: -330px;font-size: 12px;}
.list-item > li .item-counter{display: inline-block; line-height: initial;}
.list-item > li .item-counter > input{float: left; width: 40px; height: 25px; border: none; border-top: 1px solid; border-bottom: 1px solid; text-align: center;}
.list-item > li .item-counter > span{float: left; width: 30px; height: 25px; line-height: 25px; font-size: 18px; border: 1px solid; cursor: pointer;}
.list-item > li:nth-child(5) > span{cursor: pointer;}
.cart-foot{overflow: hidden; height: 50px; line-height: 50px; border: 1px solid; margin-top: 20px;}
.foot-left{float: left;}
.foot-left > a{margin-left: 8px; cursor: pointer;}
.foot-right{float: right;}
.total-price{display: inline-block; margin-right: 10px; font-weight: 900; font-size: 16px;}
.settlement{display: inline-block; width: 70px; height: 35px; margin-right: 20px; line-height: 35px; text-align: center; color: #fff; font-size: 16px; cursor: pointer;}
.cart-empty{overflow: hidden; width: 360px; margin: 50px auto 0;line-height: 30px;}
.cart-empty:before{content:'';background: url("../img/goods/not_cartlist.png") no-repeat; display: inline-block;width: 70px;height: 55px;position: absolute;margin-left: -70px;}