.product-list{width:1208px;margin-left:-9px;margin-bottom:-20px;margin-top:10px;}
.product-list li{float: left; margin-left: 7px; margin-bottom: 20px; height: 390px; position: relative; background: #fff; border: 1px solid;}
.product-list li a.link{width: 233px; margin: 20px 30px 0; background: #fff; display: block; text-decoration: none; position: relative; overflow: hidden; text-align: center;}
.product-list li a.link img{width: auto; height: 230px;}
.product-list li a.link h4{font-size: 14px; margin: 20px 0; display: -webkit-box; -webkit-line-clamp: 2; font-weight: 400; text-align: left; line-height: 20px; height: 40px; overflow: hidden;}
.product-list li .info{overflow: hidden; text-align: left; height: 60px; border-top: 1px solid; position: absolute; bottom: 0; left: 0; width: 293px;}
.product-list li .info>div{padding: 12px 0 0 11px; position: relative; line-height: 1;}
.product-list li .info .buy{line-height: 60px; font-size: 16px; display: block; top: 0; right: 0; width: 89px; text-align: center; position: absolute;color: #fff;cursor:pointer;}
.product-list li .info .price i{font-size: 24px; margin-right: 2px; line-height: 1; display: inline-block; min-width: 50px;}
.product-list li .info .price span{font-size: 14px;text-decoration:line-through;}
.product-list li .info .tip{margin-top: 5px;}
.banner-wrap{position: relative;}
.banner-wrap .carousel-inner > .item > a{display: inline-block;}
.banner-wrap .carousel-inner > .item > a > img{max-width: 100%;max-height: 100%;height: auto;display: inline-block;}
.empty{margin: 87px auto; text-align: center;}