@charset "utf-8";
.member-main{background: #fff; overflow: hidden; margin-top: 20px; padding: 20px;}
.member-main ul li{float: left; position: relative; width: 220px; height: 330px; margin: 0 15px 15px 1px; border: 1px solid; background: #fff; text-align: center; vertical-align: top; cursor: pointer;}
.member-main ul li:nth-child(4n){margin-right: 0;}
.member-main ul li a{display: block;}
.member-main ul li a > img{width: 100%; height: 250px; border: none;}
.member-main ul li .cancel{height:20px; background: #fff;visibility: hidden;}
.member-main ul li:hover .cancel{visibility: visible;}
.member-main li p{line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top: 5px;}
.member-main ul .collect-empty{text-align: center;height: 100px;line-height: 100px;}
.member-main ul .pager{clear: both;}