.main-right{float: right;width: 960px;margin-top: 20px;padding: 20px;background-color: #fff;}
.main-title{margin-bottom: 20px;font-size: 15px;font-weight: 600;}
.nav-evaluate{overflow: hidden;}
.nav-evaluate > div{float: left;margin-right: 15px;font-size: 12px;}
.nav-evaluate > div i{display: inline-block;width: 15px;height: 15px;margin-left: 2px;text-align: center;line-height: 15px;color: #fff;border-radius: 50%;}
.nav-evaluate > div span{display: inline-block;height: 30px;line-height: 30px;font-weight: 600;border-bottom: 2px solid;}
.nav-evaluate .search{float: right;}
.search > input{width: 186px;height: 30px;padding: 5px 8px;}
.search > button{display: inline-block;width: 40px;height: 30px; margin-left: -3px;background:url("../img/evaluate/search.png") no-repeat center; border: 1px solid;border-left: none;vertical-align: bottom;}
.order, .order-number{height: 32px;margin-top: 15px;padding: 0 8px;line-height: 32px;font-size: 12px;}
.order > div{float: left;height: 32px;text-align: center;}
.order > div:nth-child(1){width: 50%;border-right: 1px solid;}
.order > div:nth-child(2){width: 50%;}
.no-order{height: 100px; line-height: 100px; text-align: center;}
.date-list{display: none;}
.order-list > span{display: inline-block;}
.order-number > span:nth-child(1){margin-right: 88px;}
.order-detail{float:right;}
.order-detailed{clear:both;overflow: hidden; margin-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #ececec; text-align: center;}
.order-detailed > div{float: left;}
.order-detailed > div:nth-child(1){width: 50%;text-align: left;line-height: 60px;}
.order-detailed > div:nth-child(2){width: 50%; text-align: initial; padding-left: 30px;}
.order-item{float: left;padding-left: 15px;margin-right: 30px;text-align: left;font-size:12px;}
.order-text{overflow: hidden;display: inline-block; width: 225px;line-height: initial;margin-left: 5px; text-align: left;vertical-align: middle;}
.goods-evaluate > div{margin-top: 5px;}
.evaluate-pic{margin-left: 50px;}
.evaluate-pic > img{width: 45px;height: 45px;margin-left:3px;}
.pager{float: left; margin: 30px 0;}