@charset "utf-8";
.member-main{background: #fff; overflow: hidden; margin-top: 20px; padding: 20px;}
.order-top{margin-bottom: 10px;}
.order-top .order-status ul li{padding-right: 20px;float: left;}
.order-top .order-status ul li a{padding-bottom: 2px; display: inline-block; vertical-align: middle; border-bottom: 2px solid #fff;height: 32px; line-height: 32px;}
.order-top .order-status ul li a.ns-text-color{font-weight: 700;}
.order-top .order-search{display: inline-block;}
.order-top .order-search .search-input{width: 190px;}
.order-top .order-search .search-btn{border-width: 1px 0;}
.senior-search{width: 100%; border-top: 1px solid; padding: 10px 0;}
.senior-search dl dt{width: 80px; height: 30px; line-height: 30px;font-weight: normal;font-size: 12px;}
.senior-search dl dd .order-type-list li{float: left;height: 30px;line-height: 30px;padding: 0 10px;border: 1px solid #fff;margin: 0 10px 10px 0;font-size: 12px;cursor: pointer;}
.senior-search .close-btn{width: 85px; text-align: center; padding: 2px 0 3px;}
.order-table{font-size: 12px;}
.order-table .time{margin-right:30px;}
.order-table .number{width:226px;height:18px;line-height:18px;padding:2px 0 0;}
.order-table .tr-operate{float:right;position:relative;margin-right:15px;width:397px;}
.order-table .tr-operate .order-type{margin-left: 130px;}
.order-table .goods-item{display:block;float:left;width:340px;margin-right:8px}
.order-table .p-img{float:left;width:60px;height:62px;border:1px solid;margin:0 14px}
.order-table .p-msg{float:left;width:240px}
.order-table .goods-number{float:left;width:30px;text-align:left;}
.order-table .goods-item-action{float:right;margin-right:10px;}
.order-table .goods-item .gift-mark{height: 18px; line-height: 18px; padding: 0 3px; margin-right: 5px; overflow: hidden; text-align: center; font-style: normal; font-size: 12px;cursor: default; border-radius: 2px; color: #fff; display: inline-block; position: relative; top: 5px;}
.order-table .consignee{position:relative;margin:0 auto;z-index:2;cursor:pointer;}
.order-table .txt{display:inline-block;white-space:nowrap;overflow:hidden;max-width:72px;text-overflow:ellipsis;vertical-align:middle}
.order-table .amount{padding-left:10px;padding-right:10px}
.order-table .amount .ftx-13{display:block;padding-top:1px;line-height:19px;height:19px;overflow:hidden;}
.order-table th{border: none;font-weight: normal;padding-top: 0;padding-bottom: 0;}
.order-table th:last-child{border-right: 1px solid;}
.order-table tbody{border-top: none !important}
.order-list-top td{border: 1px solid;height: 19px;line-height: 19px;border-bottom: none !important;}
.order-list-bottom td{border: 1px solid;border-top: none;padding: 14px 0}
.order-pay-type-style{padding-top: 5px;margin-top: 3px;border-top: 1px solid}
.order-table-top{height: 32px;line-height: 32px}
.sku-name{margin-top: 8px;margin-bottom: 8px;}
.pickup-code-layer{position: fixed;width: 100%;height: 100%;top: 0;left: 0;background: rgba(0,0,0,0.8);z-index: 100000;display: none;}
.pickup-code-layer .layer-wrap{background: #fff; display: inline-block; padding: 60px 35px 49px 35px; position: absolute; left: 50%; top: 50%; transform: translateY(-50%) translateX(-50%); text-align: center; border-radius: 8px; width: 250px;}
.pickup-code-layer .layer-wrap .info{font-size: 14px; padding-top: 30px;}
.align-center-img{display: block; margin: auto auto 10px;max-width: 100%; vertical-align: middle;width: 70px;}