@charset "utf-8";
body{background: #f0f3ef;}
.member-main{margin-left: 230px;}
.member-main .main-top{margin-bottom: 20px;}
.member-main .main-top .title{font-size: 16px; font-weight: 700;}
.clear:before, .clear:after{content: ""; display: block; clear: both;}
.ns-main{overflow: hidden; padding-bottom: 50px;}
.member-menu{width: 210px; float: left; background-color: #fff; margin-top: 20px;}
.member-menu .item{padding: 15px 30px; border-bottom: 1px solid #f3f3f3;}
.member-menu .item > p{font-size: 16px; font-weight: 700; line-height: 32px;}
.member-menu .item ul li{font-size: 14px; line-height: 32px;}
.table-borderless{margin-bottom: 0;}