<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>{:lang('pay')}</title>
<style>
body{
	margin:0;
}
.on-wechat {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}
.other-view {
    max-width: 90%;
    width: 90%;
    margin-top: 30px;
}
</style>
</head>
<body>
<div class="on-wechat">

	<img src="WAP_IMG/pay/other_view.png" class="other-view "/>
</div>
</body>
</html>