body{background: #ffffff;}
h3{line-height: 30px; text-align: center; font-size: 16px; padding: 10px 0;}
.fu-name{overflow: hidden; word-break: break-all; word-wrap: break-word;}
p.fu-title{padding-left: 10px;}
.content{padding: 0 10px;}
.content img{width: 100% !important;}
.location-other-article{padding: 10px; margin-top: 30px; overflow: hidden;}
.text-over{width: 50%; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.next{float: right;}