body{-webkit-overflow-scrolling: unset;}
.goods-category-list{position: fixed; top: 45px; left: 0; right: 0; bottom: 52px; background: #FFF;}
.goods-category-list .category-title{width: 100%; height: 30px; line-height: 30px; position: relative;}
.goods-category-list .first-level{height: 100%; width: 28%; float: left; background: #F4F5F7; overflow-x: hidden; overflow-y: auto;}
.first-level::-webkit-scrollbar{width: 0;}
.goods-category-list .first-level .first-item{border-bottom: 1px solid #FFF; margin-left: 1px; text-align: center; line-height: 20px;}
.goods-category-list .first-level .first-item .first-caetgroy-name{padding: 10px 5px;}
.goods-category-list .first-level .first-item .first-caetgroy-name label, .category-name{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.goods-category-list .first-level .first-item .first-caetgroy-name label{display: inline-block; width: 100%;}
.goods-category-list .first-level .first-item .first-caetgroy-name.ns-border-color{border-left: 2px solid; background: #FFF;}
.goods-category-list .second-level{position: absolute; right: 0; width: 72%; top: 0; bottom: 0; overflow-x: hidden; overflow-y: auto; z-index: 300; background: #FFF; padding: 7px 10px 0;}
.goods-category-list .second-level::after{content: ''; display: block; clear: both;}
.goods-category-list .second-level li{display: block;}
.goods-category-list .second-level li:not(.more-list){float: left; width: 26.8%; margin: 6px; text-align: center; margin-right: 5px; margin-bottom: 5px;}
.goods-category-list .second-level li:not(.more-list):nth-child(3n+3){margin-right: 0;}
.goods-category-list .second-level li span.category-name{display: block; height: 40px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;}
.goods-category-list .second-level li.none-img .category-name{line-height: 30px; height: 30px; border-radius: 3px;border: 1px solid; padding: 0 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block; width: 100%;}
.goods-category-list .second-level li.more-list .category-title{margin-top: 15px; text-align: left; position: relative;}
.goods-category-list .second-level li.more-list .category-title::after{content: ''; position: absolute; top: 11.5px; right: 15px; display: block; width: 7px; height: 7px; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA; transform: rotate(-45deg);}
.goods-category-list .second-level li.more-list .category-title label{margin-left: 10px;}
.goods-category-list .second-level li.more-list .third-level::after{content: ''; display: block; clear: both;}
.img-common{width: 18.72vw; height: 18.72vw; position: relative;}
.img-common img{max-height: 100%; width: 80%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;}
.goods-category-list .goods-list{position: absolute; right: 0; width: 72%; top: 0; bottom: 0; overflow-x: hidden; overflow-y: auto;}
.goods-category-list .goods-list a{display: inline-block; width: 100%; margin-top: 20px; padding-left: 10px;}
.goods-category-list .goods-list a:first-child{margin-top: 10px;}
.goods-category-list .goods-list a::after{content: ''; display: block; clear: both;}
.goods-category-list .goods-list .goods-img{float: left; width: 22.215999vw; height: 22.215999vw;}
.goods-category-list .goods-list .goods-info{float: left; width: 40vw; margin-left: 10px; position: relative; height: 22.215999vw;}
.goods-category-list .goods-list .goods-info .goods-name{word-break: break-all; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; height: 40px;}
.goods-category-list .goods-list .goods-info .price{position: absolute; bottom: 0;}
.goods-category-list .goods-list .goods-info .empty-block{height: 20px;}
.no-goods{text-align: center; margin-top: 40%;line-height: 30px; font-size: 12px;}
.no-goods img{margin-bottom: 30px; width: 50px;}
.empty-category{text-align: center;padding-top: 40%; font-size: 12px;}
.empty-category img{margin-bottom: 30px; width: 80px; height: 80px;}