.cl{clear:both;}
.ns-header + div{height:0;}
.button-submit{width: 90%;margin: 50px auto 0;}
.button-submit button{width: 100%;font-size: 15px;border: none;line-height: 40px;height: 40px;color: #FFF;}
.mt-55.mlr-15 input{box-shadow: none;margin: 0;height: 35px;line-height: 35px;border: none;max-width: 72%;min-width: 20%;display: inline-block;font-size: 14px;}
.mt-55.mlr-15>div{line-height: 50px;padding-left: 15px;overflow: hidden;background: #fff;}
.mt-55.mlr-15>div:first-child{margin-top: 45px;}
.mt-55.mlr-15>div>span{width: 28%;font-size: 14px;display: block;float: left;}
.mt-55.mlr-15>div>span>img{width: 26px;height: auto;float: left;margin-top: 16px;}
.mt-55.mlr-15 input:focus{background: #fff;}
#email-code{width: 42%;}
.send-out-code{width: 30px;min-width: 25% !important;padding: 0;background: #fff;border: 1px solid !important;font-size: 12px !important;border-radius: 4px;}
.btn{width: 100%;height: 50px;line-height: 50px;}
.button-submit a{display: block;height: 100%;}
.handset{width: 35%;padding-right: 10px;}