.order-logistics nav{max-width: 640px; width: 100%; height: 42px; border-bottom: 1px solid; background-color: #fff; overflow: hidden;}
.order-logistics nav ul{position: relative; top: 0; z-index: 5;margin: 0 0.1rem;text-align: center; white-space: nowrap; -webkit-overflow-scrolling: touch;}
.order-logistics nav li{display: inline;line-height: 39px;}
.order-logistics nav li:last-child a{width: 24%;}
.order-logistics nav li a{padding: 0 3px;display: block;width: 19%;float: left;}
.order-logistics nav li.select a{border-bottom: 2px solid;}
.express-info{width: 100%;min-height: 100px;background-color: #fff;padding: 20px 0;}
.express-info ul{width: 92%;margin: 0 4%;border-left: 1px solid;}
.express-info ul li{width: 96%;margin-left: 15px;border-bottom: 1px solid;position: relative;padding: 10px 0;}
.express-info ul li:first-child{padding-top: 0;}
.express-info ul li:last-child{border-bottom: none;}
.express-info ul li .accept-time{font-size: 12px;line-height: 30px;}
.express-info ul li .dot{width: 8px;height: 8px;border-radius: 50%;position: absolute;z-index: 5;left: -20px;top: 41%;}
.express-info ul li:first-child .dot{top: 0;width: 12px;height: 12px;border: 2px solid;left: -21px;}
.express-title{height: 40px;line-height: 40px;background: #fff;border-bottom: 1px solid;margin-top: 10px;padding-left: 10px;}
.goods-list-img{height: 80px;line-height: 80px;}
.goods-list-img img{max-height: 60px;margin-left: 10px;}
img{max-width: 100%;height: auto;}
.express-goods{line-height: 23px;padding: 7px;font-size: 12px;background-color: #fff;}
.express-goods.other{margin-top:10px;}