.order-detail-wating-share{padding: 10px 15px; background-color: #fff;text-align: center;}
.order-detail-wating-share time{padding: 2px 5px;display: inline-block;border-radius: 3px;}
.order-detail-wating-share label{font-size: 18px; margin: 10px auto; display: block;font-weight: bold;}
.order-detail-wating-share button{display: block; width: 90%; margin: 8px auto; padding: 7px; border: 1px solid; background: #fff; color: #fff; border-radius: 3px;}
.group-detail{padding: 10px 10px 0; background-color: #fff;}
.group-detail .list-item{border-bottom: 1px solid;}
.group-detail .list-item .user-list{padding:15px 0 0 0; margin:0;}
.group-detail .list-item .user-list li{position: relative; margin:0 5px 10px 0; display:inline-block;}
.group-detail .list-item .user-list li .boss{position:absolute; left:-6px; top:-6px;color:#fff; border-radius:10px; font-size:12px; padding:0 5px;}
.group-detail .list-item .user-list li img{width:40px; max-width: 100%; max-height: 100%; vertical-align: middle; border-radius:50%;}
.group-detail .goods-info{line-height: 40px;}
.group-detail .goods-info .item-title{width: 30%;}
.group-detail .goods-info .goods-name{float: right; white-space: nowrap; text-overflow: ellipsis; overflow:hidden; width: 70%; text-align: right;}
.mask-layer-bg{position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, .8); z-index: 1000;display:none;}
.mask-layer-invite-friends{z-index: 1001; position: fixed; width: 100%; height: 100%; top: 10%; left: 0;display:none;}
.mask-layer-invite-friends div{text-align: right; margin: 10px 10px 30px;}
.mask-layer-invite-friends div img{width: 50px;}
.mask-layer-invite-friends h4{color: #fff; text-align: center; font-weight: bold; font-size: 18px;}
.mask-layer-invite-friends h4 strong{text-align: center;font-size: 18px;}